
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.halaman-buat-akun-6Mo {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .auto-group-nfmu-vbj {
    height: 108rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100%;

    .left-QQR {
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:18:2391');
      flex-shrink: 0;
      width: 73.6rem;
      height: 100%;
      padding: 3.2rem 30.25rem 3.2rem 30.15rem;
      background-size: cover;
      background-position: center;
      margin-right: 8.8rem;
      box-sizing: border-box;

      .logo-6HF {
        justify-content: center;
        cursor: pointer;
        font-size: 2.4rem;
        display: flex;
        margin-bottom: 99.2rem;
        white-space: nowrap;
        color: #ffffff;
        align-items: center;
        font-weight: 500;
        line-height: 1;
        text-align: center;
        font-family: Poppins, 'Source Sans Pro';
        width: 100%;
        height: 2.4rem;

        .logo-6HF-sub-0 {
        }
        .logo-6HF-sub-1 {
          font-weight: 500;
          line-height: 1;
          color: #38cb89;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 2.4rem;
        }
        .logo-6HF-sub-2 {
        }
        .logo-6HF-sub-3 {
          line-height: 1;
          color: #6c7274;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 500;
        }
      }
    }
    .sign-up-rSm {
      margin: 22rem 0rem 9.8rem 0rem;
      width: 102.275rem;
      height: calc(100% - 31.8rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #fdfdfd;
      flex-shrink: 0;

      .title-Zc5 {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .header-XJ1 {
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          margin-bottom: 2.4rem;

          .buat-akun-GWV {
            font-size: 4rem;
            letter-spacing: -0.04rem;
            color: #141718;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 80.725rem;
            font-weight: 500;
            line-height: 1.1;
            white-space: nowrap;
          }
          .content-6P3 {
            margin-top: 0.525rem;
            width: 1.35rem;
            height: 1.35rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-yvhh-oYM {
          margin-right: 81.775rem;
          width: calc(100% - 81.775rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .sudah-punya-akun-weZ {
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            align-items: baseline;
            flex-shrink: 0;
            margin-right: 0.1rem;
            font-size: 1.6rem;
            line-height: 1.625;
            color: #141718;
            display: flex;

            .sudah-punya-akun-weZ-sub-0 {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.625;
              color: #6c7274;
              font-family: Inter, 'Source Sans Pro';
            }
            .sudah-punya-akun-weZ-sub-1 {
            }
          }
          .masuk-VZb {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.625;
            color: #38cb89;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
          }
        }
      }
      .auto-group-kqvd-129 {
        box-sizing: border-box;
        padding-top: 3.2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .form-XFP {
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 3.2rem;
          width: 45.6rem;
          row-gap: 3.2rem;
          display: flex;

          .form-input-EQh {
            width: 100%;
            height: 4rem;
            border: solid 0.1rem #e8ecef;
            box-sizing: border-box;
            flex-shrink: 0;

            .content-Zxm {
              height: 100%;
              line-height: 1.625;
              font-family: Inter, 'Source Sans Pro';
              border: solid 0.1rem #e8ecef;
              box-sizing: border-box;
              width: 100%;
              font-size: 1.6rem;
              font-weight: 400;
              color: #6c7274;
              white-space: nowrap;
            }
          }
          .form-input-3d3 {
            flex-shrink: 0;
            width: 100%;
            height: 4rem;
            border: solid 0.1rem #e8ecef;
            box-sizing: border-box;

            .content-Ckq {
              width: 100%;
              font-family: Inter, 'Source Sans Pro';
              color: #6c7274;
              white-space: nowrap;
              border: solid 0.1rem #e8ecef;
              box-sizing: border-box;
              height: 100%;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.625;
            }
          }
          .form-input-hhb {
            box-sizing: border-box;
            flex-shrink: 0;
            width: 100%;
            height: 4rem;
            border: solid 0.1rem #e8ecef;

            .content-raV {
              width: 100%;
              font-size: 1.6rem;
              line-height: 1.625;
              color: #6c7274;
              font-family: Inter, 'Source Sans Pro';
              height: 100%;
              font-weight: 400;
              white-space: nowrap;
              border: solid 0.1rem #e8ecef;
              box-sizing: border-box;
            }
          }
          .form-input-x7j {
            box-sizing: border-box;
            flex-shrink: 0;
            width: 100%;
            height: 4rem;
            border: solid 0.1rem #e8ecef;

            .content-uof {
              height: 100%;
              border: solid 0.1rem #e8ecef;
              box-sizing: border-box;
              width: 100%;

              .content-t1P {
                width: 100%;
                height: 2.8rem;
                display: flex;
                align-items: flex-end;

                .kata-sandi-dUm {
                  margin: 0rem 35.2rem 0.2rem 0rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.625;
                  color: #6c7274;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .huge-icon-interface-outline-eye-Lty {
                  width: 2.4rem;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
          }
          .form-input-EzM {
            border: solid 0.1rem #e8ecef;
            box-sizing: border-box;
            flex-shrink: 0;
            width: 100%;
            height: 4rem;

            .content-yS9 {
              height: 100%;
              border: solid 0.1rem #e8ecef;
              box-sizing: border-box;
              width: 100%;

              .content-XyT {
                box-sizing: border-box;
                padding-right: 0.2rem;
                width: 100%;
                height: 2.8rem;
                display: flex;
                align-items: center;

                .konfirmasi-kata-sandi-Udo {
                  line-height: 1.625;
                  color: #6c7274;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin: 0rem 27.2rem 0.2rem 0rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                }
                .huge-icon-interface-outline-eye-CZo {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.4rem;
                  width: 2rem;
                  height: 1.4rem;
                  object-fit: contain;
                }
              }
            }
          }
          .form-input-69P {
            width: 100%;
            height: 4rem;
            border: solid 0.1rem #e8ecef;
            box-sizing: border-box;
            flex-shrink: 0;

            .content-34d {
              font-family: Inter, 'Source Sans Pro';
              box-sizing: border-box;
              width: 100%;
              font-size: 1.6rem;
              font-weight: 400;
              color: #6c7274;
              height: 100%;
              line-height: 1.625;
              white-space: nowrap;
              border: solid 0.1rem #e8ecef;
            }
          }
          .form-input-XkV {
            border: solid 0.1rem #e8ecef;
            box-sizing: border-box;
            flex-shrink: 0;
            width: 100%;
            height: 4rem;

            .content-tqw {
              width: 100%;
              height: 100%;
              border: solid 0.1rem #e8ecef;
              box-sizing: border-box;

              .content-FgV {
                padding-right: 0.3rem;
                width: 100%;
                height: 2.8rem;
                display: flex;
                align-items: center;
                box-sizing: border-box;

                .tanggal-lahir-bkM {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin: 0rem 33.8rem 0.2rem 0rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.625;
                  color: #6c7274;
                  font-family: Inter, 'Source Sans Pro';
                }
                .time-and-date-outline-calendar-KwF {
                  margin-top: 0.4rem;
                  width: 1.8rem;
                  height: 2rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
          }
          .different-address-p7K {
            margin-right: 4.6rem;
            width: calc(100% - 4.6rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .ratio-button-kmf {
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 0.4rem;
            }
            .saya-setuju-dengan-kebijakan-pribadi-dan-syarat-penggunaan-gQR {
              max-width: 37.4rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.625;
              color: #6c7274;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;

              .saya-setuju-dengan-kebijakan-pribadi-dan-syarat-penggunaan-gQR-sub-0 {
              }
              .saya-setuju-dengan-kebijakan-pribadi-dan-syarat-penggunaan-gQR-sub-1 {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.625;
                color: #6c7274;
                font-family: Inter, 'Source Sans Pro';
              }
              .saya-setuju-dengan-kebijakan-pribadi-dan-syarat-penggunaan-gQR-sub-2 {
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.625;
                color: #141718;
                font-family: Inter, 'Source Sans Pro';
              }
              .saya-setuju-dengan-kebijakan-pribadi-dan-syarat-penggunaan-gQR-sub-3 {
                font-weight: 400;
                line-height: 1.625;
                color: #6c7274;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
              }
              .saya-setuju-dengan-kebijakan-pribadi-dan-syarat-penggunaan-gQR-sub-4 {
              }
              .saya-setuju-dengan-kebijakan-pribadi-dan-syarat-penggunaan-gQR-sub-5 {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.625;
                color: #6c7274;
                font-family: Inter, 'Source Sans Pro';
              }
              .saya-setuju-dengan-kebijakan-pribadi-dan-syarat-penggunaan-gQR-sub-6 {
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.625;
                color: #141718;
                font-family: Inter, 'Source Sans Pro';
              }
            }
          }
        }
        .button-ooo {
          flex-shrink: 0;
          height: 4.8rem;
          cursor: pointer;
          font-weight: 500;
          letter-spacing: -0.04rem;
          white-space: nowrap;
          display: flex;
          line-height: 1.75;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          justify-content: center;
          width: 45.6rem;
          text-align: center;
          font-size: 1.6rem;
          align-items: center;
          background-color: #141718;
          border-radius: 0.8rem;
        }
      }
    }
  }
  .footer-FQu {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #141718;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 8rem 16rem 3.2rem 14.65rem;
    width: 100%;

    .logo-and-links-mu3 {
      flex-shrink: 0;
      margin-bottom: 5.7rem;
      width: 100%;
      height: 2.4rem;
      display: flex;
      align-items: center;

      .logo-and-slogan-6wK {
        margin-right: 27.8rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .logo-FJR {
          cursor: pointer;
          font-size: 2.4rem;
          flex-shrink: 0;
          margin-right: 1.85rem;
          height: 100%;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          width: 13.2rem;
          font-weight: 500;
          line-height: 1;
          white-space: nowrap;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;

          .logo-FJR-sub-0 {
          }
          .logo-FJR-sub-1 {
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1;
            color: #38cb89;
            font-family: Poppins, 'Source Sans Pro';
          }
          .logo-FJR-sub-2 {
          }
          .logo-FJR-sub-3 {
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1;
            color: #6c7274;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .rectangle-319-Vc5 {
          flex-shrink: 0;
          margin-right: 3.2rem;
          width: 0.1rem;
          height: 2.4rem;
          background-color: #6c7274;
        }
        .gift-decoration-store-1KX {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5714285714;
          color: #e8ecef;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .nav-vxH {
        margin: 0.1rem 0;
        height: calc(100% - 0.2rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .home-TSR {
          font-size: 1.4rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 4rem;
          cursor: pointer;
          font-weight: 400;
          line-height: 1.5714285714;
          color: #fdfdfd;
          flex-shrink: 0;
        }
        .shop-yvZ {
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 2.2rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5714285714;
          color: #fdfdfd;
          white-space: nowrap;
          cursor: pointer;
        }
        .auto-group-uy83-WvV {
          font-weight: 400;
          line-height: 1.5714285714;
          font-family: Inter, 'Source Sans Pro';
          box-sizing: border-box;
          padding-left: 1.8rem;
          height: 100%;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4rem;
          font-size: 1.4rem;
          color: #fdfdfd;
        }
        .contact-us-1sF {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5714285714;
          color: #fdfdfd;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
        }
      }
    }
    .bottom-bar-Kd3 {
      margin: 0rem 0.2rem 0rem 1.35rem;
      box-sizing: border-box;
      align-items: center;
      border: solid 0.1rem #6c7274;
      padding: 1.6rem 0;
      width: calc(100% - 1.55rem);
      height: 5.6rem;
      display: flex;
      flex-shrink: 0;

      .copyright-DyK {
        display: flex;
        column-gap: 2.8rem;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 49.8rem 0.4rem 0rem;

        .copyright-2023-perpusapp-all-rights-reserved-YEu {
          font-weight: 400;
          line-height: 1.6666666667;
          color: #e8ecef;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.2rem;
        }
        .privacy-policy-3xM {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.6666666667;
          color: #fdfdfd;
        }
        .terms-of-use-axH {
          color: #fdfdfd;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.6666666667;
        }
      }
      .social-icon-KQ5 {
        padding: 0.2rem 0.2rem 0.2rem 0rem;
        height: 100%;
        display: flex;
        column-gap: 3.2rem;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;

        .social-outline-instagram-qNR {
          vertical-align: top;
          flex-shrink: 0;
          width: 2rem;
          height: 2rem;
          object-fit: contain;
        }
        .social-outline-facebook-NNM {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 1.2rem;
          height: 1.8rem;
        }
        .social-outline-youtube-iBK {
          flex-shrink: 0;
          width: 2rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
  }
}
