
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.icons-DPP {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .header-y7f {
    height: 27.9rem;
    background-color: #131416;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 10rem 7.5rem;
    width: 100%;

    .typeface-hZT {
      width: 12.8rem;
      height: 100%;

      .icons-eUh {
        font-weight: 600;
        line-height: 1.265;
        color: #ffffff;
        font-family: Be Vietnam Pro, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.8rem;
        font-size: 4.8rem;
      }
      .vector-1-mZK {
        width: 10.95rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .auto-group-xshq-WWu {
    width: 100%;
    height: 65.5rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-yu2f-FzH {
      width: 18.6rem;
      height: 2.4rem;
      position: absolute;
      left: 7.7rem;
      top: 7.8rem;
      display: flex;
      align-items: center;

      .auto-group-h9eb-Np1 {
        box-sizing: border-box;
        padding: 0.2rem 2.7rem 0.2rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .interface-outline-search-02-JBs {
          margin-right: 2.8rem;
          width: 2rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .interface-outline-user-circle-ELR {
          vertical-align: top;
          flex-shrink: 0;
          width: 2rem;
          height: 2rem;
          object-fit: contain;
        }
      }
      .elements-navigation-cart-button-y37 {
        margin-right: 2rem;
        box-sizing: border-box;
        padding: 0.2rem 0rem 0.2rem 0.272rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .outline-shopping-bag-V1T {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.7721rem;
          width: 1.8558rem;
          height: 1.8rem;
          position: relative;
          object-fit: contain;
        }
        .frame-3-crm {
          width: 2rem;
          white-space: nowrap;
          font-size: 1.2rem;
          font-weight: 700;
          display: flex;
          justify-content: center;
          flex-shrink: 0;
          height: 100%;
          position: relative;
          font-family: Inter, 'Source Sans Pro';
          overflow: hidden;
          line-height: 0.8333333333;
          align-items: center;
          background-color: #141718;
          border-radius: 1rem;
          text-align: center;
          color: #ffffff;
        }
      }
      .icons-heart-line-tZP {
        width: 2.2rem;
        height: 1.7791rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.0209rem;
      }
    }
    .auto-group-yoyd-pT3 {
      top: 11.3333rem;
      display: flex;
      align-items: center;
      width: 45.4279rem;
      height: 5.3333rem;
      position: absolute;
      left: 7.7721rem;

      .auto-group-xdnt-k5o {
        box-sizing: border-box;
        padding: 1.567rem 5.1rem 1.767rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .outline-shopping-bag-4cH {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.2rem 2.872rem 0rem 0rem;
          width: 1.8558rem;
          height: 1.8rem;
          position: relative;
        }
        .ticket-percent-yz9 {
          flex-shrink: 0;
          margin: 0.2rem 2.8rem 0rem 0rem;
          width: 2rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
        }
        .shipping-and-delivery-outline-fast-delivery-7Kf {
          margin: 0.2rem 2.8rem 0rem 0rem;
          width: 2rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .finance-and-payment-outline-money-dYu {
          margin: 0.2rem 2.9rem 0rem 0rem;
          width: 2rem;
          height: 1.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .outline-call-A33 {
          flex-shrink: 0;
          margin-right: 3.1rem;
          width: 1.8rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
        }
        .outline-lock-01-Vb7 {
          margin-right: 3.0056rem;
          width: 1.6rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .outline-store-01-36q {
          flex-shrink: 0;
          margin-right: 2.8057rem;
          width: 1.9887rem;
          height: 2rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
        .communication-outline-mail-BTw {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 2rem;
          height: 1.8rem;
        }
      }
      .location-XGu {
        position: relative;
        background-size: cover;
        background-position: center;
        background-image: url('REPLACE_IMAGE:I188:4239;55:17481');
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.4318rem 0.4rem;
        height: 100%;
        overflow: hidden;
        background-repeat: no-repeat;

        .icon-GkH {
          margin-bottom: 0.4697rem;
          width: 4rem;
          height: 4rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .auto-group-ed5v-C89 {
      left: 7.7rem;
      top: 17.8rem;
      display: flex;
      align-items: center;
      width: 11.6rem;
      height: 2rem;
      position: absolute;

      .social-outline-instagram-KiZ {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 3rem;
      }
      .social-outline-facebook-Fs7 {
        flex-shrink: 0;
        margin-right: 3.4rem;
        width: 1.2rem;
        height: 1.8rem;
        object-fit: contain;
        vertical-align: top;
      }
      .social-outline-youtube-Bkm {
        flex-shrink: 0;
        width: 2rem;
        height: 1.8rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-a93q-vyF {
      top: 22.6rem;
      display: flex;
      align-items: center;
      width: 16.3rem;
      height: 2rem;
      position: absolute;
      left: 7.7rem;

      .interface-outline-user-circle-rc1 {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.7rem;
        width: 2rem;
        height: 2rem;
        object-fit: contain;
      }
      .time-and-date-outline-calendar-BuB {
        height: 2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 3.1rem;
        width: 1.8rem;
      }
      .outline-camera-83j {
        height: 1.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.9rem;
        width: 2rem;
      }
      .outline-edit-4i5 {
        width: 1.8rem;
        height: 1.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
