
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.halaman-kelola-buku-daftar-buku-AxV {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  .logo-hSd {
    font-size: 2.4rem;
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 100%;
    line-height: 1;
    align-items: baseline;
    padding: 1.6rem 3.75rem;
    text-align: center;
    font-weight: 500;
    display: flex;
    flex-shrink: 0;

    .logo-hSd-sub-0 {
    }
    .logo-hSd-sub-1 {
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1;
      color: #38cb89;
      font-family: Poppins, 'Source Sans Pro';
    }
    .logo-hSd-sub-2 {
    }
  }
  .content-1Lq {
    box-sizing: border-box;
    padding: 3rem 3.7rem 4.3rem 3.6rem;
    width: 100%;
    height: 99.1rem;
    background-color: #ffffff;
    flex-shrink: 0;

    .content-vTo {
      align-items: flex-start;
      width: 100%;
      height: 100%;
      display: flex;

      .menu-stq {
        background-color: #f3f5f6;
        border-radius: 0.8rem;
        box-sizing: border-box;
        width: 31.7rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 0.7rem;
        padding: 4rem 4.35rem 20.4rem 4.35rem;

        .frame-743-oXb {
          margin: 0rem 6.05rem 6rem 6.05rem;
          width: calc(100% - 12.1rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .elements-menu-avatar-edit-w81 {
            margin: 0rem 1.55rem 0.6rem 1.35rem;
            width: calc(100% - 2.9rem);
            height: 8.2rem;
            position: relative;
            flex-shrink: 0;

            .avatar-Eso {
              width: 8rem;
              height: 8rem;
              position: absolute;
              left: 0;
              top: 0;
              border-radius: 5.8rem;

              .border-radius-light-solid-pill-yqP {
                width: 8rem;
                height: 8rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .icon-box-i2H {
              height: 3rem;
              position: absolute;
              left: 4.9rem;
              top: 5.2rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 12.5rem;
              width: 3rem;
            }
          }
          .tobi-anson-EFX {
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.6;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .frame-742-Mb3 {
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;
          display: flex;

          .menu-item-usT {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.625;
            color: #6c7274;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 3.2rem;
          }
          .elements-qWD {
            width: 100%;
            font-weight: 600;
            line-height: 1.625;
            color: #6c7274;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            border: solid 0 #141718;
            margin-bottom: 1.2rem;
            box-sizing: border-box;
            padding: 2rem 0;
            font-size: 1.6rem;
            flex-shrink: 0;
          }
          .elements-9Wu {
            box-sizing: border-box;
            padding: 2rem 0;
            font-size: 1.6rem;
            color: #141718;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            width: 100%;
            font-weight: 600;
            line-height: 1.625;
            border: solid 0.1rem #141718;
          }
          .auto-group-uxf3-FZw {
            padding-top: 3.2rem;
            width: 100%;
            row-gap: 5.2rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;

            .menu-item-nZs {
              font-weight: 600;
              line-height: 1.625;
              color: #6c7274;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
            }
            .menu-item-X1f {
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.625;
              color: #6c7274;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .menu-item-fdf {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.625;
              color: #6c7274;
            }
            .menu-item-R73 {
              font-weight: 600;
              line-height: 1.625;
              color: #6c7274;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
            }
          }
        }
      }
      .auto-group-hp3f-933 {
        width: 104.3rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .navigation-bar-gof {
          background-color: #ffffff;
          flex-shrink: 0;
          margin-bottom: 0.9rem;
          box-sizing: border-box;
          padding: 1.6rem 2.2rem;
          width: 100%;
          height: 5.6rem;

          .elements-navigation-link-group--RFT {
            width: 21.1rem;
            height: 100%;
            display: flex;
            align-items: center;

            .button-NAh {
              margin-right: 4rem;
              width: 8rem;
              height: 100%;
              border: solid 0 #141718;
              box-sizing: border-box;
              flex-shrink: 0;

              .content-89s {
                line-height: 1.7142857143;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                align-items: center;
                height: 100%;
                font-size: 1.4rem;
                font-weight: 500;
                color: #141718;
                justify-content: center;
                width: 100%;
              }
            }
            .button-d6d {
              width: 9.1rem;
              height: 100%;
              border: solid 0 #141718;
              box-sizing: border-box;
              flex-shrink: 0;

              .content-a1s {
                justify-content: center;
                width: 100%;
                line-height: 1.7142857143;
                font-family: Inter, 'Source Sans Pro';
                display: flex;
                white-space: nowrap;
                align-items: center;
                height: 100%;
                font-size: 1.4rem;
                font-weight: 500;
                color: #6c7274;
              }
            }
          }
        }
        .table-smf {
          width: calc(100% - 7.7rem);
          height: 29.3rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 3.9rem 0rem 3.8rem;

          .table-column-zrH {
            flex-direction: column;
            width: 34.3rem;
            height: 29.3rem;
            position: absolute;
            left: 0;
            top: 0;
            align-items: center;
            display: flex;

            .table-cell-header-jJ5 {
              box-sizing: border-box;
              padding-top: 2rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              background-color: #fafafa;
              flex-shrink: 0;

              .title-sfB {
                line-height: 1.6666666667;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.6rem;
                font-size: 1.2rem;
                font-weight: 600;
              }
              .border-oYq {
                width: 100%;
                height: 0.2rem;
                background-color: #dfe1e6;
                flex-shrink: 0;
              }
            }
            .auto-group-sy7f-kiy {
              flex-shrink: 0;
              box-sizing: border-box;
              padding-top: 0.9rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .text-VgZ {
                flex-shrink: 0;
                margin-bottom: 1.8rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5714285714;
                color: #141718;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .text-2wP {
                line-height: 1.5714285714;
                color: #141718;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.8rem;
                font-size: 1.4rem;
                font-weight: 400;
              }
              .text-BJV {
                line-height: 1.5714285714;
                color: #141718;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.8rem;
                font-size: 1.4rem;
                font-weight: 400;
              }
              .text-j57 {
                color: #141718;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.8rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5714285714;
              }
              .text-Gaq {
                font-weight: 400;
                line-height: 1.5714285714;
                color: #141718;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.8rem;
                font-size: 1.4rem;
              }
              .text-c8u {
                line-height: 1.5714285714;
                color: #141718;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.3rem;
                font-size: 1.4rem;
                font-weight: 400;
              }
              .table-cells-9uX {
                vertical-align: top;
                flex-shrink: 0;
                width: 34.3rem;
                height: 0.1rem;
                object-fit: contain;
              }
            }
          }
          .table-column-user-VyP {
            width: 25rem;
            height: 29.3rem;
            position: absolute;
            left: 23.5rem;
            top: 0;
            align-items: center;
            display: flex;
            flex-direction: column;

            .table-cell-header-qGZ {
              flex-direction: column;
              background-color: #fafafa;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-top: 2rem;
              width: 100%;
              display: flex;

              .judul-buku-BrD {
                line-height: 1.6666666667;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.6rem;
                font-size: 1.2rem;
                font-weight: 600;
              }
              .border-j73 {
                flex-shrink: 0;
                width: 100%;
                height: 0.2rem;
                background-color: #dfe1e6;
              }
            }
            .auto-group-ynar-gHB {
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-top: 1rem;
              width: 100%;
              display: flex;

              .judul-buku-pPP {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4285714286;
                color: #141718;
              }
              .judul-buku-MPK {
                line-height: 1.4285714286;
                color: #141718;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2rem;
                font-size: 1.4rem;
                font-weight: 400;
              }
              .judul-buku-te9 {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4285714286;
                color: #141718;
                font-family: Inter, 'Source Sans Pro';
              }
              .judul-buku-ET7 {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4285714286;
                color: #141718;
                font-family: Inter, 'Source Sans Pro';
              }
              .judul-buku-mxq {
                line-height: 1.4285714286;
                color: #141718;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2rem;
                font-size: 1.4rem;
                font-weight: 400;
              }
              .judul-buku-XBK {
                flex-shrink: 0;
                margin-bottom: 1.4rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4285714286;
                color: #141718;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .table-cells-U6Z {
                vertical-align: top;
                flex-shrink: 0;
                width: 25rem;
                height: 0.1rem;
                object-fit: contain;
              }
            }
          }
          .table-column-status-oPj {
            left: 44.1rem;
            top: 0;
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 28.4rem;
            height: 29.3rem;
            position: absolute;

            .table-cell-header-Kss {
              display: flex;
              flex-direction: column;
              background-color: #fafafa;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-top: 2rem;
              width: 100%;

              .title-4qT {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.6rem;
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 1.6666666667;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
              .border-o2M {
                width: 100%;
                height: 0.2rem;
                background-color: #dfe1e6;
                flex-shrink: 0;
              }
            }
            .auto-group-nqnu-YEq {
              flex-shrink: 0;
              box-sizing: border-box;
              padding-top: 0.7rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .frame-524-5Vf {
                height: 2.6rem;
                color: #141718;
                font-family: Inter, 'Source Sans Pro';
                align-items: center;
                border-radius: 0.2rem;
                width: 13.4rem;
                background-color: #ebffed;
                margin-bottom: 1.4rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5714285714;
                justify-content: center;
                white-space: nowrap;
                display: flex;
                flex-shrink: 0;
              }
              .frame-524-MCH {
                font-weight: 400;
                line-height: 1.5714285714;
                color: #141718;
                justify-content: center;
                margin-bottom: 1.4rem;
                font-size: 1.4rem;
                align-items: center;
                background-color: #ebffed;
                flex-shrink: 0;
                height: 2.6rem;
                display: flex;
                white-space: nowrap;
                border-radius: 0.2rem;
                width: 13.4rem;
                font-family: Inter, 'Source Sans Pro';
              }
              .frame-525-ctu {
                line-height: 1.5714285714;
                align-items: center;
                justify-content: center;
                width: 13.4rem;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                white-space: nowrap;
                display: flex;
                height: 2.6rem;
                font-size: 1.4rem;
                font-weight: 400;
                border-radius: 0.2rem;
                margin-bottom: 1.4rem;
                color: #141718;
                background-color: #ebffed;
              }
              .frame-525-u7K {
                line-height: 1.5714285714;
                color: #141718;
                background-color: #ebffed;
                white-space: nowrap;
                justify-content: center;
                width: 13.4rem;
                font-family: Inter, 'Source Sans Pro';
                align-items: center;
                border-radius: 0.2rem;
                margin-bottom: 1.4rem;
                height: 2.6rem;
                font-size: 1.4rem;
                font-weight: 400;
                display: flex;
                flex-shrink: 0;
              }
              .frame-525-yss {
                color: #141718;
                border-radius: 0.2rem;
                margin-bottom: 1.4rem;
                height: 2.6rem;
                line-height: 1.5714285714;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                width: 13.4rem;
                font-weight: 400;
                white-space: nowrap;
                align-items: center;
                justify-content: center;
                background-color: #ebffed;
                font-size: 1.4rem;
                display: flex;
              }
              .frame-525-V5X {
                line-height: 1.5714285714;
                color: #141718;
                font-weight: 400;
                white-space: nowrap;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                margin-bottom: 1.1rem;
                height: 2.6rem;
                font-size: 1.4rem;
                display: flex;
                width: 13.4rem;
                font-family: Inter, 'Source Sans Pro';
                background-color: #ebffed;
                border-radius: 0.2rem;
              }
              .table-cells-AxM {
                flex-shrink: 0;
                width: 25.2rem;
                height: 0.1rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
          .table-column-date-iDB {
            display: flex;
            flex-direction: column;
            width: 22rem;
            height: 29.3rem;
            position: absolute;
            left: 69rem;
            top: 0;
            align-items: center;

            .table-cell-header-FD7 {
              display: flex;
              flex-direction: column;
              background-color: #fafafa;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-top: 2rem;
              width: 100%;

              .title-bXs {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.6rem;
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 1.6666666667;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
              .border-YCD {
                width: 100%;
                height: 0.2rem;
                background-color: #dfe1e6;
                flex-shrink: 0;
              }
            }
            .auto-group-gpym-HvV {
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-top: 1rem;

              .item-2023-09-17-SHb {
                font-weight: 400;
                line-height: 1.4285714286;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2rem;
                font-size: 1.4rem;
              }
              .item-2023-09-17-mam {
                line-height: 1.4285714286;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2rem;
                font-size: 1.4rem;
                font-weight: 400;
              }
              .item-2023-09-17-hzD {
                margin-bottom: 2rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4285714286;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-2023-09-17-r6R {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4285714286;
                color: #000000;
              }
              .item-2023-09-17-zCd {
                line-height: 1.4285714286;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2rem;
                font-size: 1.4rem;
                font-weight: 400;
              }
              .item-2023-09-17-XiM {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.4rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4285714286;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
              .table-cells-UNh {
                flex-shrink: 0;
                width: 18.1rem;
                height: 0.1rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
          .table-column-date-pxM {
            width: 9.9rem;
            height: 29.3rem;
            position: absolute;
            left: 86.7rem;
            top: 0;
            align-items: center;
            display: flex;
            flex-direction: column;

            .table-cell-header-MxH {
              box-sizing: border-box;
              padding-top: 4.6rem;
              width: 100%;
              background-color: #fafafa;
              flex-shrink: 0;

              .border-vVb {
                height: 0.2rem;
                background-color: #dfe1e6;
                width: 100%;
              }
            }
            .auto-group-kbvd-H5F {
              box-sizing: border-box;
              padding-top: 0.7rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .butoon-RBT {
                box-sizing: border-box;
                padding-left: 0.2rem;
                width: calc(100% - 4.8rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 4.8rem 1.4rem 0rem;

                .outline-edit-9NM {
                  flex-shrink: 0;
                  margin-right: 0.6rem;
                  width: 1.2rem;
                  height: 1.2rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .edit-5mo {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 600;
                  line-height: 1.625;
                  color: #6c7274;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
              .butoon-pjP {
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 4.8rem 1.4rem 0rem;
                box-sizing: border-box;
                padding-left: 0.2rem;
                width: calc(100% - 4.8rem);
                display: flex;

                .outline-edit-kd3 {
                  flex-shrink: 0;
                  margin-right: 0.6rem;
                  width: 1.2rem;
                  height: 1.2rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .edit-hYH {
                  font-size: 1.6rem;
                  font-weight: 600;
                  line-height: 1.625;
                  color: #6c7274;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .butoon-Eo7 {
                margin: 0rem 4.8rem 1.4rem 0rem;
                box-sizing: border-box;
                padding-left: 0.2rem;
                width: calc(100% - 4.8rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .outline-edit-Awf {
                  margin-right: 0.6rem;
                  width: 1.2rem;
                  height: 1.2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .edit-76D {
                  font-weight: 600;
                  line-height: 1.625;
                  color: #6c7274;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                }
              }
              .butoon-e69 {
                width: calc(100% - 4.8rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 4.8rem 1.4rem 0rem;
                box-sizing: border-box;
                padding-left: 0.2rem;

                .outline-edit-Zyo {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 0.6rem;
                  width: 1.2rem;
                  height: 1.2rem;
                  object-fit: contain;
                }
                .edit-uGy {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 600;
                  line-height: 1.625;
                  color: #6c7274;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
              .butoon-T3b {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 4.8rem 1.4rem 0rem;
                box-sizing: border-box;
                padding-left: 0.2rem;
                width: calc(100% - 4.8rem);

                .outline-edit-ynd {
                  margin-right: 0.6rem;
                  width: 1.2rem;
                  height: 1.2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .edit-ikD {
                  line-height: 1.625;
                  color: #6c7274;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 600;
                }
              }
              .butoon-GFw {
                width: calc(100% - 4.8rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 4.8rem 1.1rem 0rem;
                box-sizing: border-box;
                padding-left: 0.2rem;

                .outline-edit-nzy {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 0.6rem;
                  width: 1.2rem;
                  height: 1.2rem;
                }
                .edit-jfK {
                  font-size: 1.6rem;
                  font-weight: 600;
                  line-height: 1.625;
                  color: #6c7274;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .table-cells-Gv9 {
                height: 0.1rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 9.9rem;
              }
            }
          }
        }
      }
    }
  }
  .footer-zr9 {
    padding: 8rem 14.1rem 3.2rem 16rem;
    width: calc(100% - 0.2rem);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    align-items: center;
    background-color: #141718;
    margin: 0 0.1rem;

    .logo-and-links-7vm {
      width: 113.55rem;
      height: 2.4rem;
      flex-shrink: 0;
      margin: 0rem 0rem 4.9rem 0.15rem;

      .logo-and-slogan-Sy3 {
        width: 41.15rem;
        height: 100%;
        display: flex;
        align-items: center;

        .perpusapp-b5F {
          margin-right: 1.85rem;
          text-align: center;
          font-weight: 500;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          line-height: 1;
          display: flex;
          align-items: baseline;

          .perpusapp-b5F-sub-0 {
          }
          .perpusapp-b5F-sub-1 {
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1;
            color: #38cb89;
            font-family: Poppins, 'Source Sans Pro';
          }
          .perpusapp-b5F-sub-2 {
          }
          .perpusapp-b5F-sub-3 {
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1;
            color: #6c7274;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .rectangle-319-eBw {
          margin-right: 3.2rem;
          width: 0.1rem;
          height: 2.4rem;
          background-color: #6c7274;
          flex-shrink: 0;
        }
        .gift-decoration-store-kkm {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5714285714;
          color: #e8ecef;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .bottom-bar-t6H {
      flex-shrink: 0;
      padding: 1.6rem 0;
      width: calc(100% - 1.9rem);
      align-items: center;
      display: flex;
      border: solid 0.1rem #6c7274;
      margin-right: 1.9rem;
      box-sizing: border-box;
      height: 5.6rem;

      .copyright-QaR {
        display: flex;
        column-gap: 2.8rem;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 49.5rem 0.4rem 0rem;

        .copyright-2023-3legant-all-rights-reserved-Xuw {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.6666666667;
          color: #e8ecef;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .privacy-policy-qfj {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.6666666667;
          color: #fdfdfd;
          font-family: Poppins, 'Source Sans Pro';
        }
        .terms-of-use-mpH {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.6666666667;
          color: #fdfdfd;
        }
      }
      .social-icon-iDj {
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.2rem 0.2rem 0.2rem 0rem;
        height: 100%;
        display: flex;
        column-gap: 3.2rem;

        .social-outline-instagram-3G1 {
          flex-shrink: 0;
          width: 2rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
        }
        .social-outline-facebook-zBF {
          flex-shrink: 0;
          width: 1.2rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
        }
        .social-outline-youtube-8HT {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 2rem;
          height: 1.8rem;
        }
      }
    }
  }
}
