
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.halaman-peminjaman-berlangsung-62H {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  position: relative;

  .logo-oxH {
    box-sizing: border-box;
    padding: 1.6rem 3.75rem;
    width: 100%;
    font-size: 2.4rem;
    font-weight: 500;
    white-space: nowrap;
    flex-shrink: 0;
    font-family: Poppins, 'Source Sans Pro';
    text-align: center;
    line-height: 1;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    align-items: baseline;

    .logo-oxH-sub-0 {
    }
    .logo-oxH-sub-1 {
      font-family: Poppins, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1;
      color: #38cb89;
    }
    .logo-oxH-sub-2 {
    }
  }
  .content-5YR {
    box-sizing: border-box;
    padding: 3rem 2.5rem 4.3rem 3.6rem;
    width: 100%;
    height: 99.1rem;
    background-color: #ffffff;
    flex-shrink: 0;

    .content-cHT {
      display: flex;
      align-items: flex-start;
      width: 100%;
      height: 100%;

      .menu-ZyP {
        box-sizing: border-box;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #f3f5f6;
        flex-shrink: 0;
        margin-right: 6.9rem;
        padding: 4rem 4.35rem 20.4rem 4.35rem;
        width: 31.7rem;
        height: 100%;
        border-radius: 0.8rem;

        .frame-743-gYD {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 6.05rem 6rem 6.05rem;
          width: calc(100% - 12.1rem);
          align-items: center;

          .elements-menu-avatar-edit-cAy {
            flex-shrink: 0;
            margin: 0rem 1.55rem 0.6rem 1.35rem;
            width: calc(100% - 2.9rem);
            height: 8.2rem;
            position: relative;

            .avatar-iE1 {
              left: 0;
              top: 0;
              border-radius: 5.8rem;
              width: 8rem;
              height: 8rem;
              position: absolute;

              .border-radius-light-solid-pill-f9F {
                width: 8rem;
                height: 8rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .icon-box-yfj {
              object-fit: contain;
              vertical-align: top;
              border-radius: 12.5rem;
              width: 3rem;
              height: 3rem;
              position: absolute;
              left: 4.9rem;
              top: 5.2rem;
            }
          }
          .tobi-anson-HgR {
            line-height: 1.6;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 600;
          }
        }
        .frame-742-RGq {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .menu-item-a9j {
            flex-shrink: 0;
            margin-bottom: 3.2rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.625;
            color: #6c7274;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .elements-tgD {
            border: solid 0 #141718;
            box-sizing: border-box;
            line-height: 1.625;
            font-size: 1.6rem;
            font-weight: 600;
            color: #6c7274;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            padding: 2rem 0;
            width: 100%;
          }
          .auto-group-rrxp-ooB {
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 3.2rem 0;
            width: 100%;
            display: flex;

            .kelola-buku-Z1f {
              font-weight: 600;
              line-height: 1.625;
              color: #6c7274;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 5.2rem;
              font-size: 1.6rem;
            }
            .menu-item-tJq {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.625;
              color: #6c7274;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .elements-d1X {
            padding: 2rem 0;
            width: 100%;
            line-height: 1.625;
            border: solid 0.1rem #141718;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            box-sizing: border-box;
            font-size: 1.6rem;
            font-weight: 600;
            color: #141718;
          }
          .auto-group-dznh-wH7 {
            box-sizing: border-box;
            padding-top: 3.2rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .menu-item-5u7 {
              color: #6c7274;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 5.2rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.625;
            }
            .menu-item-q7b {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.625;
              color: #6c7274;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
      }
      .table-Ynh {
        width: 99.3rem;
        height: 34.2rem;
        position: relative;
        flex-shrink: 0;
        margin-top: 7.8rem;

        .table-column-HVP {
          position: absolute;
          left: 0;
          top: 0;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 24.7rem;
          height: 34.2rem;

          .table-cell-header-1wB {
            background-color: #fafafa;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 1rem;
            width: 100%;
            display: flex;
            flex-direction: column;

            .id-peminjaman-AJH {
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.6666666667;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.6rem;
            }
            .border-J9b {
              width: 100%;
              height: 0.2rem;
              background-color: #dfe1e6;
              flex-shrink: 0;
            }
          }
          .auto-group-rjgu-SFo {
            box-sizing: border-box;
            padding-top: 0.7rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .text-aN1 {
              margin-bottom: 2.7rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .text-7cq {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.7rem;
            }
            .text-4HB {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.7rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
            }
            .text-oVf {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.7rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
            }
            .text-9ZX {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.7rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
            }
            .text-HQq {
              font-weight: 400;
              line-height: 1.4285714286;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.1rem;
              font-size: 1.4rem;
            }
            .table-cells-DZP {
              width: 24.7rem;
              height: 0.1rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .table-column-kZK {
          position: absolute;
          left: 15.5rem;
          top: 0;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 24.7rem;
          height: 34.2rem;

          .table-cell-header-5rV {
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: #fafafa;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 1rem;

            .tanggal-peminjaman-3HX {
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 0.6rem;
              max-width: 8rem;
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.6666666667;
              color: #000000;
            }
            .border-x9b {
              background-color: #dfe1e6;
              flex-shrink: 0;
              width: 100%;
              height: 0.2rem;
            }
          }
          .auto-group-a9wj-WB7 {
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 0.7rem;
            width: 100%;
            display: flex;

            .text-SaZ {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.7rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
            }
            .text-BY9 {
              line-height: 1.4285714286;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.7rem;
              font-size: 1.4rem;
              font-weight: 400;
            }
            .text-K8Z {
              line-height: 1.4285714286;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.7rem;
              font-size: 1.4rem;
              font-weight: 400;
            }
            .text-egd {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.7rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
            }
            .text-zVb {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.7rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #000000;
            }
            .text-XkR {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.1rem;
            }
            .table-cells-Gxu {
              width: 24.7rem;
              height: 0.1rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .table-column-DNM {
          left: 30.8rem;
          top: 0;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 24.7rem;
          height: 34.2rem;
          position: absolute;

          .table-cell-header-YvR {
            background-color: #fafafa;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 1rem;
            width: 100%;
            display: flex;
            flex-direction: column;

            .tanggal-pengembalian-6h3 {
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 0.6rem;
              max-width: 9.1rem;
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.6666666667;
              color: #000000;
            }
            .border-pd3 {
              background-color: #dfe1e6;
              flex-shrink: 0;
              width: 100%;
              height: 0.2rem;
            }
          }
          .auto-group-dpgv-moB {
            padding-top: 0.7rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;

            .text-7MF {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.7rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .text-SPX {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.7rem;
            }
            .text-MmP {
              flex-shrink: 0;
              margin-bottom: 2.7rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .text-Hf3 {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.7rem;
            }
            .text-S29 {
              font-weight: 400;
              line-height: 1.4285714286;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.7rem;
              font-size: 1.4rem;
            }
            .text-ZMf {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.1rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .table-cells-hTs {
              height: 0.1rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 24.7rem;
            }
          }
        }
        .table-column-user-SRT {
          height: 34.2rem;
          position: absolute;
          left: 47.5rem;
          top: 0;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 25rem;

          .table-cell-header-mCq {
            box-sizing: border-box;
            padding-top: 1rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: #fafafa;
            flex-shrink: 0;

            .nama-peminjam-WAR {
              line-height: 1.6666666667;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.6rem;
              font-size: 1.2rem;
              font-weight: 600;
            }
            .border-Es7 {
              width: 100%;
              height: 0.2rem;
              background-color: #dfe1e6;
              flex-shrink: 0;
            }
          }
          .auto-group-huut-ntd {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 0.6rem;
            width: 100%;

            .m-adzikri-farhan-vzq {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5714285714;
              color: #141718;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.5rem;
            }
            .m-adzikri-farhan-fhX {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5714285714;
              color: #141718;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.5rem;
            }
            .m-adzikri-farhan-CSZ {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.5rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5714285714;
              color: #141718;
              font-family: Inter, 'Source Sans Pro';
            }
            .m-adzikri-farhan-YFX {
              margin-bottom: 2.5rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5714285714;
              color: #141718;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .m-adzikri-farhan-t4V {
              flex-shrink: 0;
              margin-bottom: 2.5rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5714285714;
              color: #141718;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .m-adzikri-farhan-cmB {
              color: #141718;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5714285714;
            }
            .table-cells-AGu {
              height: 0.1rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 25rem;
            }
          }
        }
        .table-column-date-uVP {
          width: 20rem;
          height: 34.2rem;
          position: absolute;
          left: 66.2rem;
          top: 0;
          align-items: center;
          display: flex;
          flex-direction: column;

          .table-cell-header-SVK {
            display: flex;
            flex-direction: column;
            background-color: #fafafa;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 1rem;
            width: 100%;

            .jumlah-buku-bND {
              line-height: 1.6666666667;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 0.6rem;
              max-width: 5rem;
              font-size: 1.2rem;
              font-weight: 600;
            }
            .border-7bT {
              height: 0.2rem;
              background-color: #dfe1e6;
              flex-shrink: 0;
              width: 100%;
            }
          }
          .auto-group-slah-GjF {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 0.7rem;

            .item-2023-09-17-R6M {
              margin-bottom: 2.7rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .item-2023-09-17-waV {
              font-weight: 400;
              line-height: 1.4285714286;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.7rem;
              font-size: 1.4rem;
            }
            .item-2023-09-17-4f7 {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.7rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .item-2023-09-17-zof {
              line-height: 1.4285714286;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.7rem;
              font-size: 1.4rem;
              font-weight: 400;
            }
            .item-2023-09-17-Kqw {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.7rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .item-2023-09-17-s6m {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.1rem;
            }
            .table-cells-bYZ {
              width: 20rem;
              height: 0.1rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .table-column-date-9KB {
          display: flex;
          flex-direction: column;
          width: 20rem;
          height: 34.2rem;
          position: absolute;
          left: 74.4rem;
          top: 0;
          align-items: center;

          .table-cell-header-5Tj {
            flex-direction: column;
            background-color: #fafafa;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 1rem;
            width: 100%;
            display: flex;

            .jumlahperpanjangan-S3P {
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.6666666667;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 0.6rem;
              max-width: 8.8rem;
            }
            .border-MRF {
              width: 100%;
              height: 0.2rem;
              background-color: #dfe1e6;
              flex-shrink: 0;
            }
          }
          .auto-group-2och-6td {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 0.7rem;

            .item-2023-09-17-e9T {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.7rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #000000;
            }
            .item-2023-09-17-Adb {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.7rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #000000;
            }
            .item-2023-09-17-733 {
              margin-bottom: 2.7rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .item-2023-09-17-ENZ {
              line-height: 1.4285714286;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.7rem;
              font-size: 1.4rem;
              font-weight: 400;
            }
            .item-2023-09-17-AGD {
              font-weight: 400;
              line-height: 1.4285714286;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.7rem;
              font-size: 1.4rem;
            }
            .item-2023-09-17-ti1 {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.1rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
            }
            .table-cells-prZ {
              width: 20rem;
              height: 0.1rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .table-column-date-AvR {
          top: 0;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 15.9rem;
          height: 34.2rem;
          position: absolute;
          left: 83.4rem;

          .table-cell-header-Jmj {
            padding-top: 5.6rem;
            width: 100%;
            background-color: #fafafa;
            flex-shrink: 0;
            box-sizing: border-box;

            .border-4ku {
              width: 100%;
              height: 0.2rem;
              background-color: #dfe1e6;
            }
          }
          .auto-group-mfh7-DNu {
            box-sizing: border-box;
            padding-top: 0.4rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .butoon-Yvy {
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 2.1rem 2.1rem 0rem;
              box-sizing: border-box;
              padding-right: 0.4rem;
              width: calc(100% - 2.1rem);
              display: flex;

              .selengkapnya-Gry {
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.9rem;
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.625;
                color: #6c7274;
                font-family: Inter, 'Source Sans Pro';
              }
              .tabler-icon-arrow-back-1Zf {
                margin-top: 0.2rem;
                width: 1.5rem;
                height: 1.2rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .butoon-Xnu {
              box-sizing: border-box;
              padding-right: 0.4rem;
              width: calc(100% - 2.1rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 2.1rem 2.1rem 0rem;

              .selengkapnya-rKP {
                font-weight: 600;
                line-height: 1.625;
                color: #6c7274;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.9rem;
                font-size: 1.6rem;
              }
              .tabler-icon-arrow-back-bGy {
                width: 1.5rem;
                height: 1.2rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.2rem;
              }
            }
            .butoon-6Ud {
              padding-right: 0.4rem;
              width: calc(100% - 2.1rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 2.1rem 2.1rem 0rem;
              box-sizing: border-box;

              .selengkapnya-27P {
                line-height: 1.625;
                color: #6c7274;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.9rem;
                font-size: 1.6rem;
                font-weight: 600;
              }
              .tabler-icon-arrow-back-M9f {
                height: 1.2rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.2rem;
                width: 1.5rem;
              }
            }
            .butoon-TyP {
              box-sizing: border-box;
              padding-right: 0.4rem;
              width: calc(100% - 2.1rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 2.1rem 2.1rem 0rem;

              .selengkapnya-bZo {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.9rem;
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.625;
                color: #6c7274;
              }
              .tabler-icon-arrow-back-KEu {
                margin-top: 0.2rem;
                width: 1.5rem;
                height: 1.2rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .butoon-T6D {
              flex-shrink: 0;
              margin: 0rem 2.1rem 2.1rem 0rem;
              box-sizing: border-box;
              padding-right: 0.4rem;
              width: calc(100% - 2.1rem);
              display: flex;
              align-items: center;

              .selengkapnya-Niy {
                line-height: 1.625;
                color: #6c7274;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.9rem;
                font-size: 1.6rem;
                font-weight: 600;
              }
              .tabler-icon-arrow-back-iXw {
                margin-top: 0.2rem;
                width: 1.5rem;
                height: 1.2rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .butoon-FGy {
              padding-right: 0.4rem;
              width: calc(100% - 2.1rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 2.1rem 1.8rem 0rem;
              box-sizing: border-box;

              .selengkapnya-NMb {
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.625;
                color: #6c7274;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.9rem;
              }
              .tabler-icon-arrow-back-uMX {
                width: 1.5rem;
                height: 1.2rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.2rem;
              }
            }
            .table-cells-S6Z {
              flex-shrink: 0;
              width: 15.9rem;
              height: 0.1rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
      }
    }
  }
  .footer-9mf {
    width: calc(100% - 0.2rem);
    align-items: center;
    display: flex;
    background-color: #141718;
    margin: 0 0.1rem;
    box-sizing: border-box;
    padding: 8rem 14.1rem 3.2rem 16rem;
    flex-direction: column;
    flex-shrink: 0;

    .logo-and-links-4Nq {
      margin: 0rem 0rem 4.9rem 0.15rem;
      width: 113.55rem;
      height: 2.4rem;
      flex-shrink: 0;

      .logo-and-slogan-z1b {
        display: flex;
        align-items: center;
        width: 41.15rem;
        height: 100%;

        .perpusapp-LLM {
          flex-shrink: 0;
          margin-right: 1.85rem;
          font-size: 2.4rem;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          align-items: baseline;
          text-align: center;
          font-weight: 500;
          line-height: 1;
          color: #ffffff;
          white-space: nowrap;

          .perpusapp-LLM-sub-0 {
          }
          .perpusapp-LLM-sub-1 {
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1;
            color: #38cb89;
            font-family: Poppins, 'Source Sans Pro';
          }
          .perpusapp-LLM-sub-2 {
          }
          .perpusapp-LLM-sub-3 {
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1;
            color: #6c7274;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .rectangle-319-9h7 {
          margin-right: 3.2rem;
          width: 0.1rem;
          height: 2.4rem;
          background-color: #6c7274;
          flex-shrink: 0;
        }
        .gift-decoration-store-HYR {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5714285714;
          color: #e8ecef;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .bottom-bar-DS5 {
      border: solid 0.1rem #6c7274;
      flex-shrink: 0;
      margin-right: 1.9rem;
      box-sizing: border-box;
      padding: 1.6rem 0;
      height: 5.6rem;
      width: calc(100% - 1.9rem);
      display: flex;
      align-items: center;

      .copyright-jvD {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 49.5rem 0.4rem 0rem;
        display: flex;
        column-gap: 2.8rem;

        .copyright-2023-3legant-all-rights-reserved-U77 {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.6666666667;
          color: #e8ecef;
        }
        .privacy-policy-ndb {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.6666666667;
          color: #fdfdfd;
        }
        .terms-of-use-vUu {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.6666666667;
          color: #fdfdfd;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .social-icon-rtM {
        box-sizing: border-box;
        padding: 0.2rem 0.2rem 0.2rem 0rem;
        height: 100%;
        display: flex;
        column-gap: 3.2rem;
        align-items: center;
        flex-shrink: 0;

        .social-outline-instagram-nX7 {
          width: 2rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .social-outline-facebook-7JV {
          vertical-align: top;
          flex-shrink: 0;
          width: 1.2rem;
          height: 1.8rem;
          object-fit: contain;
        }
        .social-outline-youtube-FQh {
          width: 2rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
}
