
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.konfirmasi-reservasi-Lzh {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;

  .logo-Ub7 {
    box-sizing: border-box;
    width: 100%;
    font-size: 2.4rem;
    display: flex;
    background-color: #ffffff;
    white-space: nowrap;
    flex-shrink: 0;
    font-weight: 500;
    line-height: 1;
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
    padding: 1.6rem 3.75rem;
    text-align: center;
    align-items: baseline;

    .logo-Ub7-sub-0 {
    }
    .logo-Ub7-sub-1 {
      font-weight: 500;
      line-height: 1;
      color: #38cb89;
      font-family: Poppins, 'Source Sans Pro';
      font-size: 2.4rem;
    }
    .logo-Ub7-sub-2 {
    }
  }
  .content-9am {
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3rem 3.6rem 4.3rem 3.6rem;
    width: 100%;
    height: 99.1rem;

    .content-HBB {
      width: 127.1rem;
      height: 100%;
      display: flex;
      align-items: flex-start;

      .menu-2uT {
        margin-right: 3.1rem;
        width: 31.7rem;
        display: flex;
        flex-direction: column;
        background-color: #f3f5f6;
        border-radius: 0.8rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 4rem 4.35rem 20.4rem 4.35rem;
        height: 100%;
        align-items: center;

        .frame-743-MB3 {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 6.05rem 6rem 6.05rem;
          width: calc(100% - 12.1rem);

          .elements-menu-avatar-edit-UmT {
            flex-shrink: 0;
            margin: 0rem 1.55rem 0.6rem 1.35rem;
            width: calc(100% - 2.9rem);
            height: 8.2rem;
            position: relative;

            .avatar-o33 {
              border-radius: 5.8rem;
              width: 8rem;
              height: 8rem;
              position: absolute;
              left: 0;
              top: 0;

              .border-radius-light-solid-pill-Lof {
                vertical-align: top;
                width: 8rem;
                height: 8rem;
                position: relative;
                object-fit: contain;
              }
            }
            .icon-box-f5F {
              vertical-align: top;
              border-radius: 12.5rem;
              width: 3rem;
              height: 3rem;
              position: absolute;
              left: 4.9rem;
              top: 5.2rem;
              object-fit: contain;
            }
          }
          .tobi-anson-mty {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.6;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .frame-742-WLm {
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;
          display: flex;

          .menu-item-rvR {
            line-height: 1.625;
            color: #6c7274;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 3.2rem;
            font-size: 1.6rem;
            font-weight: 600;
          }
          .elements-PfT {
            flex-shrink: 0;
            margin-bottom: 1.2rem;
            box-sizing: border-box;
            padding: 2rem 0;
            font-size: 1.6rem;
            color: #6c7274;
            font-family: Inter, 'Source Sans Pro';
            border: solid 0 #141718;
            width: 100%;
            font-weight: 600;
            line-height: 1.625;
            white-space: nowrap;
          }
          .elements-ts7 {
            box-sizing: border-box;
            padding: 2rem 0;
            font-size: 1.6rem;
            font-weight: 600;
            white-space: nowrap;
            width: 100%;
            line-height: 1.625;
            color: #6c7274;
            font-family: Inter, 'Source Sans Pro';
            border: solid 0 #141718;
            flex-shrink: 0;
          }
          .auto-group-pfvv-oz5 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 3.2rem 0;
            width: 100%;

            .menu-item-AJq {
              color: #6c7274;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 5.2rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.625;
            }
            .menu-item-JA9 {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.625;
              color: #6c7274;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .elements-SGM {
            padding: 2rem 0;
            font-weight: 600;
            line-height: 1.625;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            border: solid 0.1rem #141718;
            margin-bottom: 3.2rem;
            width: 100%;
            font-size: 1.6rem;
            color: #141718;
            flex-shrink: 0;
            box-sizing: border-box;
          }
          .menu-item-LMj {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.625;
            color: #6c7274;
          }
        }
      }
      .auto-group-6yss-FzV {
        margin-top: 1.6rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .kembali-cKF {
          color: #141718;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 2;
        }
        .content-M1w {
          align-items: center;
          display: flex;
          flex-direction: column;
          border: solid 0 #6c7274;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.6rem 0;
          width: 89.2rem;
          margin: 0rem 0rem 1rem 3.1rem;

          .frame-746-4h3 {
            align-items: center;
            border: solid 0.1rem #d4d4d4;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.05rem 65.2rem 1rem 0rem;
            width: 100%;
            display: flex;

            .tanggal-pengajuan-PUR {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 2.2rem 0.05rem 0rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5714285714;
              color: #141718;
            }
            .item--VnM {
              color: #141718;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.05rem 1.1rem 0rem 0rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5714285714;
            }
            .item-2023-09-17-Cwf {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.05rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5714285714;
            }
          }
          .auto-group-q5dp-iQD {
            box-sizing: border-box;
            padding: 0.8rem 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .frame-756-4U5 {
              flex-shrink: 0;
              margin-bottom: 0.8rem;
              box-sizing: border-box;
              padding: 1.05rem 22rem 1rem 0rem;
              display: flex;
              align-items: center;
              border: solid 0 #d4d4d4;

              .tanggal-reservasi-nus {
                font-weight: 400;
                line-height: 1.5714285714;
                color: #141718;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 2.7rem 0.05rem 0rem;
                font-size: 1.4rem;
              }
              .item--K97 {
                flex-shrink: 0;
                margin: 0.05rem 1.1rem 0rem 0rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5714285714;
                color: #141718;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .item-2023-09-17-357 {
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.05rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5714285714;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
            }
            .frame-758-xxm {
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.05rem 25.4rem 1rem 0rem;
              display: flex;
              align-items: center;
              border: solid 0 #d4d4d4;

              .nama-peminjam-WUV {
                font-weight: 400;
                line-height: 1.5714285714;
                color: #141718;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 4.1rem 0.05rem 0rem;
                font-size: 1.4rem;
              }
              .item--EQV {
                flex-shrink: 0;
                margin: 0.05rem 1.1rem 0rem 0rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5714285714;
                color: #141718;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .aeryn-ZSm {
                font-weight: 400;
                line-height: 1.5714285714;
                color: #141718;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.05rem;
                font-size: 1.4rem;
              }
            }
          }
          .frame-757-V5X {
            display: flex;
            align-items: center;
            border: solid 0.1rem #d4d4d4;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.05rem 72rem 1rem 0rem;
            width: 100%;

            .jumlah-buku-q9P {
              font-weight: 400;
              line-height: 1.5714285714;
              color: #141718;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 6.3rem 0.05rem 0rem;
              font-size: 1.4rem;
            }
            .item--ABf {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.05rem 1.1rem 0rem 0rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5714285714;
              color: #141718;
            }
            .item-4-gvh {
              line-height: 1.5714285714;
              color: #141718;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.05rem;
              font-size: 1.4rem;
              font-weight: 400;
            }
          }
        }
        .table-1CH {
          margin-left: 3.1rem;
          width: 89.1rem;
          flex-shrink: 0;

          .auto-group-jrjs-xdK {
            margin-bottom: 2.9rem;
            width: 100%;
            height: 37.3rem;
            position: relative;

            .table-column-star-6Dj {
              height: 37.3rem;
              position: absolute;
              left: 0;
              top: 0;
              align-items: center;
              display: flex;
              flex-direction: column;
              width: 9.9rem;

              .table-cell-header-pvR {
                padding-top: 2.3rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: #fafafa;
                flex-shrink: 0;
                box-sizing: border-box;

                .background-Nww {
                  border: solid 0.1rem #d9d9d9;
                  box-sizing: border-box;
                  background-color: #fafbfc;
                  border-radius: 0.2rem;
                  flex-shrink: 0;
                  margin: 0rem 0rem 0.9rem 0.5rem;
                  width: 1.4rem;
                  height: 1.4rem;
                }
                .border-67F {
                  height: 0.2rem;
                  background-color: #dfe1e6;
                  flex-shrink: 0;
                  width: 100%;
                }
              }
              .auto-group-uhgh-RvD {
                flex-direction: column;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-top: 1.25rem;
                width: 100%;
                display: flex;

                .paste-image-Aso {
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 2.5rem;
                  width: 3.8rem;
                  height: 5.5rem;
                }
                .paste-image-JDK {
                  height: 5.5rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 2.5rem;
                  width: 3.8rem;
                }
                .paste-image-SaR {
                  margin-bottom: 2.5rem;
                  width: 3.8rem;
                  height: 5.5rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .paste-image-C3o {
                  width: 3.8rem;
                  height: 5.5rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 1.65rem;
                }
                .table-cells-Lfo {
                  flex-shrink: 0;
                  width: 9.9rem;
                  height: 0.1rem;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
            }
            .table-column-s9w {
              left: 9.5rem;
              top: 0;
              align-items: center;
              display: flex;
              flex-direction: column;
              width: 34.3rem;
              height: 37.3rem;
              position: absolute;

              .table-cell-header-o3b {
                flex-shrink: 0;
                box-sizing: border-box;
                padding-top: 2rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: #fafafa;

                .title-M57 {
                  flex-shrink: 0;
                  margin-bottom: 0.6rem;
                  font-size: 1.2rem;
                  font-weight: 600;
                  line-height: 1.6666666667;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .border-Ws7 {
                  height: 0.2rem;
                  background-color: #dfe1e6;
                  flex-shrink: 0;
                  width: 100%;
                }
              }
              .auto-group-dzt1-rvy {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-top: 2.9rem;
                width: 100%;

                .text-13B {
                  color: #141718;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 5.8rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5714285714;
                }
                .text-whX {
                  color: #141718;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 5.8rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5714285714;
                }
                .text-gv1 {
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5714285714;
                  color: #141718;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 5.8rem;
                }
                .text-dqF {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 3.3rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5714285714;
                  color: #141718;
                  font-family: Inter, 'Source Sans Pro';
                }
                .table-cells-NXw {
                  height: 0.1rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 34.3rem;
                }
              }
            }
            .table-column-user-v3f {
              display: flex;
              flex-direction: column;
              width: 25rem;
              height: 37.3rem;
              position: absolute;
              left: 30.9rem;
              top: 0;
              align-items: center;

              .table-cell-header-3e5 {
                flex-direction: column;
                background-color: #fafafa;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-top: 2rem;
                width: 100%;
                display: flex;

                .judul-buku-odF {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.6rem;
                  font-size: 1.2rem;
                  font-weight: 600;
                  line-height: 1.6666666667;
                  color: #000000;
                }
                .border-kHb {
                  width: 100%;
                  height: 0.2rem;
                  background-color: #dfe1e6;
                  flex-shrink: 0;
                }
              }
              .auto-group-l7hf-tub {
                box-sizing: border-box;
                padding-top: 3rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .judul-buku-qpq {
                  flex-shrink: 0;
                  margin-bottom: 6rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.4285714286;
                  color: #141718;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .judul-buku-nVB {
                  margin-bottom: 6rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.4285714286;
                  color: #141718;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .judul-buku-8Z3 {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 6rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.4285714286;
                  color: #141718;
                  font-family: Inter, 'Source Sans Pro';
                }
                .judul-buku-5DP {
                  font-weight: 400;
                  line-height: 1.4285714286;
                  color: #141718;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 3.4rem;
                  font-size: 1.4rem;
                }
                .table-cells-ofB {
                  width: 25rem;
                  height: 0.1rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
            .table-column-status-k4d {
              flex-direction: column;
              width: 22.8rem;
              height: 37.3rem;
              position: absolute;
              left: 48.4rem;
              top: 0;
              align-items: center;
              display: flex;

              .table-cell-header-UWR {
                display: flex;
                flex-direction: column;
                background-color: #fafafa;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-top: 2rem;
                width: 100%;

                .title-dPK {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.6rem;
                  font-size: 1.2rem;
                  font-weight: 600;
                  line-height: 1.6666666667;
                  color: #000000;
                }
                .border-mkR {
                  height: 0.2rem;
                  background-color: #dfe1e6;
                  flex-shrink: 0;
                  width: 100%;
                }
              }
              .auto-group-hqcz-vdK {
                padding-top: 2.7rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                box-sizing: border-box;

                .frame-524-GhB {
                  display: flex;
                  background-color: #ebffed;
                  border-radius: 0.2rem;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  align-items: center;
                  white-space: nowrap;
                  height: 2.6rem;
                  font-weight: 400;
                  line-height: 1.5714285714;
                  font-family: Inter, 'Source Sans Pro';
                  width: 13.4rem;
                  color: #141718;
                  justify-content: center;
                  margin-bottom: 5.4rem;
                }
                .frame-524-ZRP {
                  font-size: 1.4rem;
                  line-height: 1.5714285714;
                  color: #141718;
                  align-items: center;
                  background-color: #ebffed;
                  width: 13.4rem;
                  height: 2.6rem;
                  white-space: nowrap;
                  display: flex;
                  margin-bottom: 5.4rem;
                  font-weight: 400;
                  border-radius: 0.2rem;
                  font-family: Inter, 'Source Sans Pro';
                  justify-content: center;
                  flex-shrink: 0;
                }
                .frame-524-qdo {
                  height: 2.6rem;
                  white-space: nowrap;
                  border-radius: 0.2rem;
                  flex-shrink: 0;
                  line-height: 1.5714285714;
                  display: flex;
                  background-color: #ebffed;
                  justify-content: center;
                  margin-bottom: 5.4rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  align-items: center;
                  width: 13.4rem;
                  color: #141718;
                  font-family: Inter, 'Source Sans Pro';
                }
                .frame-524-98h {
                  display: flex;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  justify-content: center;
                  border-radius: 0.2rem;
                  margin-bottom: 3.1rem;
                  width: 13.4rem;
                  height: 2.6rem;
                  line-height: 1.5714285714;
                  color: #141718;
                  font-family: Inter, 'Source Sans Pro';
                  align-items: center;
                  font-weight: 400;
                  white-space: nowrap;
                  background-color: #ebffed;
                }
                .table-cells-dZf {
                  width: 22rem;
                  height: 0.1rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
            .table-column-date-Zy7 {
              width: 15.5rem;
              height: 37.3rem;
              position: absolute;
              left: 70.3rem;
              top: 0;

              .table-cell-header-Vbs {
                width: 14.2rem;
                background-color: #fafafa;
                margin-bottom: 3rem;
                box-sizing: border-box;
                padding-top: 2rem;

                .title-EJZ {
                  white-space: nowrap;
                  margin-bottom: 0.6rem;
                  font-size: 1.2rem;
                  font-weight: 600;
                  line-height: 1.6666666667;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                }
                .border-mJV {
                  width: 100%;
                  height: 0.2rem;
                  background-color: #dfe1e6;
                }
              }
              .item-2023-09-17-hxq {
                margin-bottom: 6rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4285714286;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .item-2023-09-17-ESy {
                margin-bottom: 6rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4285714286;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .item-2023-09-17-NJH {
                font-weight: 400;
                line-height: 1.4285714286;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 6rem;
                font-size: 1.4rem;
              }
              .item-2023-09-17-6k5 {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 3.4rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4285714286;
                color: #000000;
              }
              .table-cells-39X {
                object-fit: contain;
                vertical-align: top;
                width: 15.5rem;
                height: 0.1rem;
              }
            }
            .table-column-star-z4m {
              width: 4.8rem;
              height: 37.3rem;
              position: absolute;
              left: 84.3rem;
              top: 0;

              .table-cell-header-Jr9 {
                height: 4.8rem;
                object-fit: contain;
                vertical-align: top;
                margin-bottom: 3.3rem;
                width: 4.8rem;
              }
              .table-cells-TDF {
                margin: 0rem 0rem 6.6rem 0.5rem;
                width: 1.4rem;
                height: 1.4rem;
                object-fit: contain;
                vertical-align: top;
              }
              .table-cells-aHs {
                object-fit: contain;
                vertical-align: top;
                margin: 0rem 0rem 6.6rem 0.5rem;
                width: 1.4rem;
                height: 1.4rem;
              }
              .table-cells-WSR {
                margin: 0rem 0rem 6.6rem 0.5rem;
                width: 1.4rem;
                height: 1.4rem;
                object-fit: contain;
                vertical-align: top;
              }
              .table-cells-eHj {
                width: 1.4rem;
                height: 1.4rem;
                object-fit: contain;
                vertical-align: top;
                margin: 0rem 0rem 3.7rem 0.5rem;
              }
              .table-cells-B2m {
                vertical-align: top;
                width: 4.8rem;
                height: 0.1rem;
                object-fit: contain;
              }
            }
          }
          .button-KPs {
            text-align: center;
            line-height: 1.75;
            color: #ffffff;
            white-space: nowrap;
            border-radius: 0.8rem;
            height: 4rem;
            align-items: center;
            justify-content: center;
            width: 12.6rem;
            font-size: 1.6rem;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            font-weight: 500;
            letter-spacing: -0.04rem;
            background-color: #141718;
          }
        }
      }
    }
  }
  .footer-AvH {
    flex-direction: column;
    background-color: #141718;
    margin: 0 0.1rem;
    box-sizing: border-box;
    padding: 8rem 14.1rem 3.2rem 16rem;
    width: calc(100% - 0.2rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .logo-and-links-VBs {
      margin: 0rem 0rem 4.9rem 0.15rem;
      width: 113.55rem;
      height: 2.4rem;
      flex-shrink: 0;

      .logo-and-slogan-cnH {
        width: 41.15rem;
        height: 100%;
        display: flex;
        align-items: center;

        .perpusapp-m9P {
          margin-right: 1.85rem;
          font-size: 2.4rem;
          font-weight: 500;
          color: #ffffff;
          display: flex;
          text-align: center;
          line-height: 1;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          align-items: baseline;
          flex-shrink: 0;

          .perpusapp-m9P-sub-0 {
          }
          .perpusapp-m9P-sub-1 {
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1;
            color: #38cb89;
            font-family: Poppins, 'Source Sans Pro';
          }
          .perpusapp-m9P-sub-2 {
          }
          .perpusapp-m9P-sub-3 {
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1;
            color: #6c7274;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .rectangle-319-oEV {
          flex-shrink: 0;
          margin-right: 3.2rem;
          width: 0.1rem;
          height: 2.4rem;
          background-color: #6c7274;
        }
        .gift-decoration-store-KCq {
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5714285714;
          color: #e8ecef;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .bottom-bar-qS5 {
      height: 5.6rem;
      margin-right: 1.9rem;
      box-sizing: border-box;
      padding: 1.6rem 0;
      width: calc(100% - 1.9rem);
      display: flex;
      align-items: center;
      border: solid 0.1rem #6c7274;
      flex-shrink: 0;

      .copyright-ADT {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 49.5rem 0.4rem 0rem;
        display: flex;
        column-gap: 2.8rem;

        .copyright-2023-3legant-all-rights-reserved-5bK {
          line-height: 1.6666666667;
          color: #e8ecef;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 400;
        }
        .privacy-policy-PM7 {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.6666666667;
          color: #fdfdfd;
          font-family: Poppins, 'Source Sans Pro';
        }
        .terms-of-use-jA5 {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.6666666667;
          color: #fdfdfd;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .social-icon-TLy {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.2rem 0.2rem 0.2rem 0rem;
        height: 100%;
        display: flex;
        column-gap: 3.2rem;
        align-items: center;

        .social-outline-instagram-aRb {
          width: 2rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .social-outline-facebook-vEZ {
          width: 1.2rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .social-outline-youtube-rP7 {
          width: 2rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
}
