
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.konfirmasi-peminjaman-detail-gdj {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  .logo-Cry {
    text-align: center;
    font-size: 2.4rem;
    line-height: 1;
    flex-shrink: 0;
    padding: 1.6rem 3.75rem;
    font-weight: 500;
    font-family: Poppins, 'Source Sans Pro';
    background-color: #ffffff;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: baseline;
    color: #000000;
    white-space: nowrap;

    .logo-Cry-sub-0 {
    }
    .logo-Cry-sub-1 {
      font-weight: 500;
      line-height: 1;
      color: #38cb89;
      font-family: Poppins, 'Source Sans Pro';
      font-size: 2.4rem;
    }
    .logo-Cry-sub-2 {
    }
  }
  .content-5ZP {
    box-sizing: border-box;
    padding: 3rem 3.6rem 4.3rem 3.6rem;
    width: 100%;
    height: 99.1rem;
    background-color: #ffffff;
    flex-shrink: 0;

    .content-oVP {
      height: 100%;
      display: flex;
      align-items: flex-start;
      width: 127.8rem;

      .menu-x7P {
        align-items: center;
        background-color: #f3f5f6;
        flex-shrink: 0;
        margin-right: 3.1rem;
        padding: 4rem 4.35rem 20.4rem 4.35rem;
        height: 100%;
        flex-direction: column;
        border-radius: 0.8rem;
        box-sizing: border-box;
        width: 31.7rem;
        display: flex;

        .frame-743-ULd {
          width: calc(100% - 12.1rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 6.05rem 6rem 6.05rem;

          .elements-menu-avatar-edit-CXX {
            height: 8.2rem;
            position: relative;
            flex-shrink: 0;
            margin: 0rem 1.55rem 0.6rem 1.35rem;
            width: calc(100% - 2.9rem);

            .avatar-Kc9 {
              left: 0;
              top: 0;
              border-radius: 5.8rem;
              width: 8rem;
              height: 8rem;
              position: absolute;

              .border-radius-light-solid-pill-sNm {
                vertical-align: top;
                width: 8rem;
                height: 8rem;
                position: relative;
                object-fit: contain;
              }
            }
            .icon-box-bJm {
              vertical-align: top;
              border-radius: 12.5rem;
              width: 3rem;
              height: 3rem;
              position: absolute;
              left: 4.9rem;
              top: 5.2rem;
              object-fit: contain;
            }
          }
          .tobi-anson-Jiy {
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.6;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .frame-742-3Am {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .menu-item-Bnm {
            flex-shrink: 0;
            margin-bottom: 3.2rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.625;
            color: #6c7274;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .elements-JsP {
            margin-bottom: 1.2rem;
            width: 100%;
            color: #6c7274;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2rem 0;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.625;
            white-space: nowrap;
            border: solid 0 #141718;
          }
          .elements-DUZ {
            flex-shrink: 0;
            padding: 2rem 0;
            width: 100%;
            color: #6c7274;
            font-family: Inter, 'Source Sans Pro';
            border: solid 0 #6c7274;
            white-space: nowrap;
            margin-bottom: 1.2rem;
            box-sizing: border-box;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.625;
          }
          .elements-jSu {
            font-weight: 600;
            line-height: 1.625;
            border: solid 0.1rem #141718;
            flex-shrink: 0;
            box-sizing: border-box;
            width: 100%;
            font-size: 1.6rem;
            white-space: nowrap;
            padding: 2rem 0;
            color: #141718;
            font-family: Inter, 'Source Sans Pro';
          }
          .auto-group-jweh-rGd {
            row-gap: 5.2rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 3.2rem;
            width: 100%;

            .menu-item-zNq {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.625;
              color: #6c7274;
              font-family: Inter, 'Source Sans Pro';
            }
            .menu-item-wJ5 {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.625;
              color: #6c7274;
              font-family: Inter, 'Source Sans Pro';
            }
            .menu-item-Uoo {
              font-weight: 600;
              line-height: 1.625;
              color: #6c7274;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
            }
          }
        }
      }
      .auto-group-2ge9-zXF {
        margin-top: 1.6rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .kembali-jjj {
          font-weight: 600;
          line-height: 2;
          color: #141718;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.8rem;
          font-size: 1.6rem;
        }
        .content-52u {
          border: solid 0 #6c7274;
          flex-shrink: 0;
          padding: 1.6rem 0;
          width: 89.2rem;
          row-gap: 0.8rem;
          flex-direction: column;
          margin: 0rem 0rem 1rem 3.8rem;
          box-sizing: border-box;
          display: flex;

          .frame-746-b1F {
            padding: 1.05rem 65.2rem 1rem 0rem;
            width: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #d4d4d4;
            flex-shrink: 0;
            box-sizing: border-box;

            .tanggal-pengajuan-We1 {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 2.2rem 0.05rem 0rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5714285714;
              color: #141718;
            }
            .item--cww {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.05rem 1.1rem 0rem 0rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5714285714;
              color: #141718;
              font-family: Inter, 'Source Sans Pro';
            }
            .item-2023-09-17-XJD {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.05rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5714285714;
              color: #000000;
            }
          }
          .frame-756-1z5 {
            box-sizing: border-box;
            padding: 1.05rem 25.4rem 1rem 0rem;
            display: flex;
            align-items: center;
            border: solid 0 #d4d4d4;
            flex-shrink: 0;

            .nama-peminjam-wsj {
              font-weight: 400;
              line-height: 1.5714285714;
              color: #141718;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 4.1rem 0.05rem 0rem;
              font-size: 1.4rem;
            }
            .item--GQD {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5714285714;
              color: #141718;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.05rem 1.1rem 0rem 0rem;
            }
            .aeryn-C2y {
              flex-shrink: 0;
              margin-top: 0.05rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5714285714;
              color: #141718;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .frame-757-j2u {
            align-items: center;
            border: solid 0.1rem #d4d4d4;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.05rem 72rem 1rem 0rem;
            width: 100%;
            display: flex;

            .jumlah-buku-UFP {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 6.3rem 0.05rem 0rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5714285714;
              color: #141718;
            }
            .item--CSH {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.05rem 1.1rem 0rem 0rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5714285714;
              color: #141718;
              font-family: Inter, 'Source Sans Pro';
            }
            .item-4-XjT {
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.05rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5714285714;
              color: #141718;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
        .table-3xh {
          margin-left: 3.8rem;
          width: 89.1rem;
          flex-shrink: 0;

          .auto-group-kxkb-zsw {
            margin-bottom: 2.9rem;
            width: 100%;
            height: 37.3rem;
            position: relative;

            .table-column-star-LB7 {
              flex-direction: column;
              width: 9.9rem;
              height: 37.3rem;
              position: absolute;
              left: 0;
              top: 0;
              align-items: center;
              display: flex;

              .table-cell-header-sRw {
                flex-shrink: 0;
                box-sizing: border-box;
                padding-top: 2.3rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: #fafafa;

                .background-cuK {
                  height: 1.4rem;
                  border: solid 0.1rem #d9d9d9;
                  box-sizing: border-box;
                  background-color: #fafbfc;
                  border-radius: 0.2rem;
                  flex-shrink: 0;
                  margin: 0rem 0rem 0.9rem 0.5rem;
                  width: 1.4rem;
                }
                .border-L4d {
                  width: 100%;
                  height: 0.2rem;
                  background-color: #dfe1e6;
                  flex-shrink: 0;
                }
              }
              .auto-group-9ys5-geH {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-top: 1.25rem;
                width: 100%;

                .paste-image-cnq {
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 2.5rem;
                  width: 3.8rem;
                  height: 5.5rem;
                }
                .paste-image-9Xs {
                  margin-bottom: 2.5rem;
                  width: 3.8rem;
                  height: 5.5rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .paste-image-6CD {
                  flex-shrink: 0;
                  margin-bottom: 2.5rem;
                  width: 3.8rem;
                  height: 5.5rem;
                  object-fit: cover;
                  vertical-align: top;
                }
                .paste-image-qQh {
                  margin-bottom: 1.65rem;
                  width: 3.8rem;
                  height: 5.5rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .table-cells-n53 {
                  width: 9.9rem;
                  height: 0.1rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
            .table-column-88u {
              position: absolute;
              left: 9.5rem;
              top: 0;
              align-items: center;
              display: flex;
              flex-direction: column;
              width: 34.3rem;
              height: 37.3rem;

              .table-cell-header-Tgy {
                flex-shrink: 0;
                box-sizing: border-box;
                padding-top: 2rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: #fafafa;

                .title-cJy {
                  flex-shrink: 0;
                  margin-bottom: 0.6rem;
                  font-size: 1.2rem;
                  font-weight: 600;
                  line-height: 1.6666666667;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .border-x7w {
                  height: 0.2rem;
                  background-color: #dfe1e6;
                  flex-shrink: 0;
                  width: 100%;
                }
              }
              .auto-group-t6f7-6zq {
                box-sizing: border-box;
                padding-top: 2.9rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .text-dE5 {
                  line-height: 1.5714285714;
                  color: #141718;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 5.8rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                }
                .text-NBf {
                  color: #141718;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 5.8rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5714285714;
                }
                .text-WHs {
                  line-height: 1.5714285714;
                  color: #141718;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 5.8rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                }
                .text-FFT {
                  line-height: 1.5714285714;
                  color: #141718;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 3.3rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                }
                .table-cells-nWH {
                  width: 34.3rem;
                  height: 0.1rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
            .table-column-user-vcV {
              display: flex;
              flex-direction: column;
              width: 25rem;
              height: 37.3rem;
              position: absolute;
              left: 30.9rem;
              top: 0;
              align-items: center;

              .table-cell-header-eYV {
                flex-direction: column;
                background-color: #fafafa;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-top: 2rem;
                width: 100%;
                display: flex;

                .judul-buku-bid {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.6rem;
                  font-size: 1.2rem;
                  font-weight: 600;
                  line-height: 1.6666666667;
                  color: #000000;
                }
                .border-LRK {
                  width: 100%;
                  height: 0.2rem;
                  background-color: #dfe1e6;
                  flex-shrink: 0;
                }
              }
              .auto-group-cekf-HrM {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-top: 3rem;

                .judul-buku-3Kj {
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.4285714286;
                  color: #141718;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 6rem;
                }
                .judul-buku-zEy {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 6rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.4285714286;
                  color: #141718;
                }
                .judul-buku-8c5 {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 6rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.4285714286;
                  color: #141718;
                  font-family: Inter, 'Source Sans Pro';
                }
                .judul-buku-5XK {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 3.4rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.4285714286;
                  color: #141718;
                }
                .table-cells-DtR {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 25rem;
                  height: 0.1rem;
                }
              }
            }
            .table-column-status-muw {
              align-items: center;
              display: flex;
              flex-direction: column;
              width: 22.8rem;
              height: 37.3rem;
              position: absolute;
              left: 48.4rem;
              top: 0;

              .table-cell-header-umF {
                background-color: #fafafa;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-top: 2rem;
                width: 100%;
                display: flex;
                flex-direction: column;

                .title-fVX {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.6rem;
                  font-size: 1.2rem;
                  font-weight: 600;
                  line-height: 1.6666666667;
                  color: #000000;
                }
                .border-1ZP {
                  width: 100%;
                  height: 0.2rem;
                  background-color: #dfe1e6;
                  flex-shrink: 0;
                }
              }
              .auto-group-rz1j-Mt9 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-top: 2.7rem;
                width: 100%;

                .frame-524-JYV {
                  width: 13.4rem;
                  justify-content: center;
                  background-color: #ebffed;
                  color: #141718;
                  white-space: nowrap;
                  align-items: center;
                  border-radius: 0.2rem;
                  font-size: 1.4rem;
                  font-family: Inter, 'Source Sans Pro';
                  display: flex;
                  margin-bottom: 5.4rem;
                  height: 2.6rem;
                  font-weight: 400;
                  line-height: 1.5714285714;
                  flex-shrink: 0;
                }
                .frame-524-PZw {
                  height: 2.6rem;
                  font-weight: 400;
                  color: #141718;
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 1.4rem;
                  line-height: 1.5714285714;
                  display: flex;
                  margin-bottom: 5.4rem;
                  flex-shrink: 0;
                  border-radius: 0.2rem;
                  width: 13.4rem;
                  white-space: nowrap;
                  align-items: center;
                  justify-content: center;
                  background-color: #ebffed;
                }
                .frame-524-Gtd {
                  display: flex;
                  background-color: #ebffed;
                  height: 2.6rem;
                  font-weight: 400;
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 1.4rem;
                  white-space: nowrap;
                  align-items: center;
                  border-radius: 0.2rem;
                  line-height: 1.5714285714;
                  width: 13.4rem;
                  color: #141718;
                  justify-content: center;
                  flex-shrink: 0;
                  margin-bottom: 5.4rem;
                }
                .frame-524-Nwf {
                  line-height: 1.5714285714;
                  white-space: nowrap;
                  justify-content: center;
                  margin-bottom: 3.1rem;
                  height: 2.6rem;
                  font-weight: 400;
                  font-family: Inter, 'Source Sans Pro';
                  align-items: center;
                  background-color: #ebffed;
                  flex-shrink: 0;
                  width: 13.4rem;
                  font-size: 1.4rem;
                  color: #141718;
                  display: flex;
                  border-radius: 0.2rem;
                }
                .table-cells-UUu {
                  width: 22rem;
                  height: 0.1rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
            .table-column-date-RQ9 {
              height: 37.3rem;
              position: absolute;
              left: 70.3rem;
              top: 0;
              width: 15.5rem;

              .table-cell-header-MYh {
                margin-bottom: 3rem;
                box-sizing: border-box;
                padding-top: 2rem;
                width: 14.2rem;
                background-color: #fafafa;

                .title-6mB {
                  margin-bottom: 0.6rem;
                  font-size: 1.2rem;
                  font-weight: 600;
                  line-height: 1.6666666667;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .border-qyf {
                  width: 100%;
                  height: 0.2rem;
                  background-color: #dfe1e6;
                }
              }
              .item-2023-09-17-bT3 {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 6rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4285714286;
              }
              .item-2023-09-17-vER {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 6rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4285714286;
              }
              .item-2023-09-17-eRK {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 6rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4285714286;
                color: #000000;
              }
              .item-2023-09-17-NcD {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 3.4rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4285714286;
              }
              .table-cells-HjB {
                height: 0.1rem;
                object-fit: contain;
                vertical-align: top;
                width: 15.5rem;
              }
            }
            .table-column-star-EeR {
              position: absolute;
              left: 84.3rem;
              top: 0;
              width: 4.8rem;
              height: 37.3rem;

              .table-cell-header-m8Z {
                margin-bottom: 3.3rem;
                width: 4.8rem;
                height: 4.8rem;
                object-fit: contain;
                vertical-align: top;
              }
              .table-cells-i3o {
                object-fit: contain;
                vertical-align: top;
                margin: 0rem 0rem 6.6rem 0.5rem;
                width: 1.4rem;
                height: 1.4rem;
              }
              .table-cells-qeD {
                margin: 0rem 0rem 6.6rem 0.5rem;
                width: 1.4rem;
                height: 1.4rem;
                object-fit: contain;
                vertical-align: top;
              }
              .table-cells-mnm {
                margin: 0rem 0rem 6.6rem 0.5rem;
                width: 1.4rem;
                height: 1.4rem;
                object-fit: contain;
                vertical-align: top;
              }
              .table-cells-7bj {
                margin: 0rem 0rem 3.7rem 0.5rem;
                width: 1.4rem;
                height: 1.4rem;
                object-fit: contain;
                vertical-align: top;
              }
              .table-cells-r3X {
                width: 4.8rem;
                height: 0.1rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
          .button-oUZ {
            letter-spacing: -0.04rem;
            color: #ffffff;
            display: flex;
            border-radius: 0.8rem;
            font-weight: 500;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            line-height: 1.75;
            height: 4rem;
            align-items: center;
            width: 12.6rem;
            font-size: 1.6rem;
            justify-content: center;
            background-color: #141718;
            text-align: center;
          }
        }
      }
    }
  }
  .footer-5gy {
    box-sizing: border-box;
    padding: 8rem 14.1rem 3.2rem 16rem;
    align-items: center;
    flex-direction: column;
    background-color: #141718;
    flex-shrink: 0;
    margin: 0 0.1rem;
    width: calc(100% - 0.2rem);
    display: flex;

    .logo-and-links-ocy {
      height: 2.4rem;
      flex-shrink: 0;
      margin: 0rem 0rem 4.9rem 0.15rem;
      width: 113.55rem;

      .logo-and-slogan-Xos {
        width: 41.15rem;
        height: 100%;
        display: flex;
        align-items: center;

        .perpusapp-5aV {
          text-align: center;
          line-height: 1;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.85rem;
          font-size: 2.4rem;
          font-weight: 500;
          color: #ffffff;
          display: flex;
          align-items: baseline;

          .perpusapp-5aV-sub-0 {
          }
          .perpusapp-5aV-sub-1 {
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1;
            color: #38cb89;
            font-family: Poppins, 'Source Sans Pro';
          }
          .perpusapp-5aV-sub-2 {
          }
          .perpusapp-5aV-sub-3 {
            font-family: Poppins, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1;
            color: #6c7274;
          }
        }
        .rectangle-319-XL1 {
          height: 2.4rem;
          background-color: #6c7274;
          flex-shrink: 0;
          margin-right: 3.2rem;
          width: 0.1rem;
        }
        .gift-decoration-store-TjT {
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5714285714;
          color: #e8ecef;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .bottom-bar-bKs {
      display: flex;
      flex-shrink: 0;
      margin-right: 1.9rem;
      box-sizing: border-box;
      padding: 1.6rem 0;
      width: calc(100% - 1.9rem);
      height: 5.6rem;
      align-items: center;
      border: solid 0.1rem #6c7274;

      .copyright-L2Z {
        flex-shrink: 0;
        margin: 0rem 49.5rem 0.4rem 0rem;
        display: flex;
        column-gap: 2.8rem;
        align-items: center;

        .copyright-2023-3legant-all-rights-reserved-Tcy {
          font-weight: 400;
          line-height: 1.6666666667;
          color: #e8ecef;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.2rem;
        }
        .privacy-policy-Nzq {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.6666666667;
          color: #fdfdfd;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .terms-of-use-6fw {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.6666666667;
          color: #fdfdfd;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .social-icon-2pV {
        column-gap: 3.2rem;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.2rem 0.2rem 0.2rem 0rem;
        height: 100%;
        display: flex;

        .social-outline-instagram-m1P {
          width: 2rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .social-outline-facebook-tbo {
          width: 1.2rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .social-outline-youtube-dZP {
          flex-shrink: 0;
          width: 2rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
  }
}
