
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
}.cart-oaH {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.cart-oaH .navigation-bar-wRb {
  box-sizing: border-box;
  padding: 1.8rem 16rem 1.8rem 14.65rem;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.cart-oaH .navigation-bar-wRb .logo-3Ud {
  margin-right: 20.45rem;
  width: 13.2rem;
  height: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.cart-oaH .navigation-bar-wRb .logo-3Ud .logo-3Ud-sub-0 {
}
.cart-oaH .navigation-bar-wRb .logo-3Ud .logo-3Ud-sub-1 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1;
  color: #38cb89;
  font-family: Poppins, 'Source Sans Pro';
}
.cart-oaH .navigation-bar-wRb .logo-3Ud .logo-3Ud-sub-2 {
}
.cart-oaH .navigation-bar-wRb .elements-navigation-link-group--6rD {
  margin-right: 21.8rem;
  height: 100%;
  display: flex;
  column-gap: 4rem;
  align-items: center;
  flex-shrink: 0;
}
.cart-oaH .navigation-bar-wRb .elements-navigation-link-group--6rD .elements-navigation-link--d5T {
  width: 5.6rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.cart-oaH .navigation-bar-wRb .elements-navigation-link-group--6rD .elements-navigation-link--d5T .button-Zjo {
  width: 100%;
  height: 100%;
  border: solid 0 #141718;
  box-sizing: border-box;
}
.cart-oaH .navigation-bar-wRb .elements-navigation-link-group--6rD .elements-navigation-link--d5T .button-Zjo .content-Kys {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7142857143;
  color: #6c7274;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-oaH .navigation-bar-wRb .elements-navigation-link-group--6rD .elements-navigation-link--cxy {
  width: 13.1rem;
  height: 100%;
  cursor: pointer;
  background-color: #ffffff;
  flex-shrink: 0;
}
.cart-oaH .navigation-bar-wRb .elements-navigation-link-group--6rD .elements-navigation-link--cxy .button-wkM {
  width: 100%;
  height: 100%;
  border: solid 0 #6c7274;
  box-sizing: border-box;
}
.cart-oaH .navigation-bar-wRb .elements-navigation-link-group--6rD .elements-navigation-link--cxy .button-wkM .content-6dF {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7142857143;
  color: #6c7274;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-oaH .navigation-bar-wRb .elements-navigation-link-group--6rD .auto-group-aedy-mDb {
  width: 18.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.cart-oaH .navigation-bar-wRb .elements-navigation-link-group--6rD .auto-group-aedy-mDb .elements-navigation-link--72Z {
  width: 12.0272rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
}
.cart-oaH .navigation-bar-wRb .elements-navigation-link-group--6rD .auto-group-aedy-mDb .elements-navigation-link--72Z .button-Ess {
  width: 100%;
  height: 100%;
  border: solid 0 #141718;
  box-sizing: border-box;
}
.cart-oaH .navigation-bar-wRb .elements-navigation-link-group--6rD .auto-group-aedy-mDb .elements-navigation-link--72Z .button-Ess .content-Q1f {
  margin-right: 7.2272rem;
  width: 4.8rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7142857143;
  color: #6c7274;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-oaH .navigation-bar-wRb .elements-navigation-link-group--6rD .auto-group-aedy-mDb .elements-navigation-link--VYu {
  width: 9.4rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 8.8rem;
  top: 0;
}
.cart-oaH .navigation-bar-wRb .elements-navigation-link-group--6rD .auto-group-aedy-mDb .elements-navigation-link--VYu .button-2oj {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7142857143;
  color: #6c7274;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0 #6c7274;
  box-sizing: border-box;
}
.cart-oaH .navigation-bar-wRb .icons-wfo {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cart-oaH .navigation-bar-wRb .icons-wfo .auto-group-dar9-VxD {
  box-sizing: border-box;
  padding: 0rem 1.7rem 0rem 0.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cart-oaH .navigation-bar-wRb .icons-wfo .auto-group-dar9-VxD .interface-outline-search-02-dYd {
  margin-right: 1.8rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cart-oaH .navigation-bar-wRb .icons-wfo .auto-group-dar9-VxD .interface-outline-user-circle-A2m {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cart-oaH .navigation-bar-wRb .icons-wfo .elements-navigation-cart-button-VKw {
  box-sizing: border-box;
  padding: 0.2rem 0rem 0.2rem 0.272rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cart-oaH .navigation-bar-wRb .icons-wfo .elements-navigation-cart-button-VKw .outline-shopping-bag-Qho {
  margin-right: 0.7721rem;
  width: 1.8559rem;
  height: 1.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cart-oaH .navigation-bar-wRb .icons-wfo .elements-navigation-cart-button-VKw .frame-3-Yp1 {
  width: 2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 0.8333333333;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141718;
  border-radius: 1rem;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B {
  box-sizing: border-box;
  padding: 8rem 39.8rem 19.3rem 39.85rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-jtV {
  margin: 0rem 0.15rem 7.9rem 0rem;
  font-size: 5.4rem;
  font-weight: 500;
  line-height: 1.0740740741;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cart-jty {
  margin: 0rem 0.15rem 7.9rem 0rem;
  font-size: 2.4rem;
  font-weight: 50;
  line-height: 1.0740740741;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cart-jtz {
  margin: 0rem 0.15rem 7.9rem 0rem;
  font-size: 5.4rem;
  font-weight: 50;
  line-height: 1.0740740741;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-align: center;
}
.cart-oaH .cart-c3B .cart-3eH {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu {
  margin-bottom: 1.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .table-header-XpM {
  margin-right: 0.05rem;
  box-sizing: border-box;
  padding-right: 10.7rem;
  width: calc(100% - 0.05rem);
  height: 5rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-collapse: collapse;
}
td input {
  margin-left: 5.0rem;
}
.buku-FVT {
  margin-right: 17.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.625;
  color: #111111;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.perpustakaan-ywF {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.625;
  color: #111111;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-JCq {
  margin-right: 0.05rem;
  box-sizing: border-box;
  padding: 2.4rem 8.85rem 2.4rem 0rem;
  width: calc(100% - 0.05rem);
  height: 14.4rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e8ecef;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-JCq .content-bxd {
  margin-right: 18.55rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-JCq .content-bxd .image-placeholder-ZPf {
  margin-right: 1.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-JCq .content-bxd .image-placeholder-ZPf .paste-image-i1f {
  width: 8rem;
  height: 9.6rem;
  object-fit: cover;
  vertical-align: top;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-JCq .content-bxd .product-eg1 {
  margin: 2.1rem 0;
  height: calc(100% - 4.2rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-JCq .content-bxd .product-eg1 .tere-liye-pulang-PtV {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5714285714;
  color: #141718;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-JCq .content-bxd .product-eg1 .button-vdX {
  width: 8.3rem;
  height: 2.4rem;
  border: solid 0 #5f5f5f;
  box-sizing: border-box;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-JCq .content-bxd .product-eg1 .button-vdX .content-sof {
  box-sizing: border-box;
  padding: 0.1rem 0rem 0.1rem 0.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-JCq .content-bxd .product-eg1 .button-vdX .content-sof .icons-close-line-cmF {
  margin-right: 0.9rem;
  width: 1.4rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-JCq .content-bxd .product-eg1 .button-vdX .content-sof .get-started-xKK {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5714285714;
  color: #6c7274;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-JCq .perpustakaan-universitas-jambi-sSH {
  max-width: 15.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #111111;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-yER {
  margin-right: 0.05rem;
  box-sizing: border-box;
  padding: 2.4rem 8.85rem 2.4rem 0rem;
  width: calc(100% - 0.05rem);
  height: 14.4rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e8ecef;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-yER .content-HF7 {
  margin-right: 18.05rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-yER .content-HF7 .image-placeholder-qnR {
  margin-right: 1.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.paste-image-CN5 {
  width: 8rem;
  height: 9.6rem;
  object-fit: cover;
  vertical-align: top;
  margin-bottom: 1.0rem;
  margin-top: 1.0rem;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-yER .content-HF7 .product-LDP {
  margin: 2.1rem 0;
  height: calc(100% - 4.2rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-yER .content-HF7 .product-LDP .tere-liye-bintang-5gm {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5714285714;
  color: #141718;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-yER .content-HF7 .product-LDP .button-pPT {
  width: 8.3rem;
  height: 2.4rem;
  border: solid 0 #5f5f5f;
  box-sizing: border-box;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-yER .content-HF7 .product-LDP .button-pPT .content-aNd {
  box-sizing: border-box;
  padding: 0.1rem 0rem 0.1rem 0.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-yER .content-HF7 .product-LDP .button-pPT .content-aNd .icons-close-line-WXB {
  margin-right: 0.9rem;
  width: 1.4rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.get-started-rL9 {
  font-size: 1.4rem;
  margin-left: 1.5rem;
  font-weight: 600;
  line-height: 1.5714285714;
  color: #6c7274;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.get-started-rQ0 {
  font-size: 1.4rem;
  margin-left: 6.5rem;
  font-weight: 600;
  line-height: 1.5714285714;
  color: #6c7274;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.perpustakaan-universitas-jambi-mCD {
  max-width: 15.1rem;
  font-size: 1.5rem;
  margin-left: 1.0rem;
  margin-bottom: 1.0rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #111111;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-3fX {
  margin-right: 0.05rem;
  margin-top: 3.0rem;
  box-sizing: border-box;
  padding: 2.4rem 8.85rem 2.4rem 0rem;
  width: calc(100% - 0.05rem);
  height: 14.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 15.0rem;
}
table {
}
td {

}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-3fX .content-Z85 {
  margin-right: 19.85rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-3fX .content-Z85 .image-placeholder-W3K {
  margin-right: 1.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-3fX .content-Z85 .image-placeholder-W3K .paste-image-TDT {
  width: 8rem;
  height: 9.6rem;
  object-fit: cover;
  vertical-align: top;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-3fX .content-Z85 .product-PN1 {
  margin: 2.1rem 0;
  height: calc(100% - 4.2rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.tere-liye-bumi-Xj7 {
  margin-left: 1.0rem;
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5714285714;
  color: #141718;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-3fX .content-Z85 .product-PN1 .button-fKX {
  width: 8.3rem;
  height: 2.4rem;
  border: solid 0 #5f5f5f;
  box-sizing: border-box;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-3fX .content-Z85 .product-PN1 .button-fKX .content-pCR {
  box-sizing: border-box;
  padding: 0.1rem 0rem 0.1rem 0.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-3fX .content-Z85 .product-PN1 .button-fKX .content-pCR .icons-close-line-kLy {
  margin-right: 0.9rem;
  width: 1.4rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-3fX .content-Z85 .product-PN1 .button-fKX .content-pCR .get-started-HLu {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5714285714;
  color: #6c7274;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-3fX .perpustakaan-universitas-jambi-QRX {
  max-width: 15.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #111111;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-7Kw {
  margin: 0rem 0.05rem 8.7rem 0rem;
  box-sizing: border-box;
  padding: 2.4rem 8.65rem 2.4rem 0rem;
  width: calc(100% - 0.05rem);
  height: 14.4rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e8ecef;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-7Kw .content-oyT {
  margin-right: 10.05rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-7Kw .content-oyT .image-placeholder-Zxd {
  margin-right: 1.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-7Kw .content-oyT .image-placeholder-Zxd .paste-image-Kgu {
  width: 8rem;
  height: 9.6rem;
  object-fit: cover;
  vertical-align: top;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-7Kw .content-oyT .product-4uP {
  margin: 1rem 0;
  height: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-7Kw .content-oyT .product-4uP .hamka-tenggelamnya-kapal-van-der-wijck-QyF {
  margin-bottom: 0.8rem;
  max-width: 20.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5714285714;
  color: #141718;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-7Kw .content-oyT .product-4uP .button-Xny {
  width: 8.3rem;
  height: 2.4rem;
  border: solid 0 #5f5f5f;
  box-sizing: border-box;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-7Kw .content-oyT .product-4uP .button-Xny .content-6LH {
  box-sizing: border-box;
  padding: 0.1rem 0rem 0.1rem 0.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-7Kw .content-oyT .product-4uP .button-Xny .content-6LH .icons-close-line-EBb {
  margin-right: 0.9rem;
  width: 1.4rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-7Kw .content-oyT .product-4uP .button-Xny .content-6LH .get-started-N2u {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5714285714;
  color: #6c7274;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .elements-cart-product-cell-7Kw .perpustakaan-umum-kota-jambi-gZP {
  max-width: 15.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #111111;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .cart-bQu .button-yoP {
  margin-left: 0.05rem;
  width: 64.3rem;
  height: 5.2rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.7777777778;
  letter-spacing: -0.04rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141718;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.cart-oaH .cart-c3B .cart-3eH .button-eed {
  margin-right: 0.05rem;
  width: 64.3rem;
  height: 5.2rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.7777777778;
  letter-spacing: -0.04rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141718;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.cart-oaH .footer-WRw {
  box-sizing: border-box;
  padding: 8rem 16rem 3.2rem 14.65rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #141718;
  flex-shrink: 0;
}
.cart-oaH .footer-WRw .logo-and-links-2fB {
  margin-bottom: 5.7rem;
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cart-oaH .footer-WRw .logo-and-links-2fB .logo-and-slogan-AWV {
  margin-right: 27.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cart-oaH .footer-WRw .logo-and-links-2fB .logo-and-slogan-AWV .legant-i2D {
  margin-right: 1.85rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.cart-oaH .footer-WRw .logo-and-links-2fB .logo-and-slogan-AWV .legant-i2D .legant-i2D-sub-0 {
}
.cart-oaH .footer-WRw .logo-and-links-2fB .logo-and-slogan-AWV .legant-i2D .legant-i2D-sub-1 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1;
  color: #38cb89;
  font-family: Poppins, 'Source Sans Pro';
}
.cart-oaH .footer-WRw .logo-and-links-2fB .logo-and-slogan-AWV .legant-i2D .legant-i2D-sub-2 {
}
.cart-oaH .footer-WRw .logo-and-links-2fB .logo-and-slogan-AWV .legant-i2D .legant-i2D-sub-3 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1;
  color: #6c7274;
  font-family: Poppins, 'Source Sans Pro';
}
.cart-oaH .footer-WRw .logo-and-links-2fB .logo-and-slogan-AWV .rectangle-319-B4D {
  margin-right: 3.2rem;
  width: 0.1rem;
  height: 2.4rem;
  background-color: #6c7274;
  flex-shrink: 0;
}
.cart-oaH .footer-WRw .logo-and-links-2fB .logo-and-slogan-AWV .gift-decoration-store-KAR {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: #e8ecef;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cart-oaH .footer-WRw .logo-and-links-2fB .nav-T1j {
  margin: 0.1rem 0;
  height: calc(100% - 0.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cart-oaH .footer-WRw .logo-and-links-2fB .nav-T1j .home-CED {
  margin-right: 4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: #fdfdfd;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cart-oaH .footer-WRw .logo-and-links-2fB .nav-T1j .shop-vvu {
  margin-right: 2.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: #fdfdfd;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cart-oaH .footer-WRw .logo-and-links-2fB .nav-T1j .auto-group-nffz-5J1 {
  margin-right: 4rem;
  box-sizing: border-box;
  padding-left: 1.8rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: #fdfdfd;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cart-oaH .footer-WRw .logo-and-links-2fB .nav-T1j .contact-us-nTK {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: #fdfdfd;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cart-oaH .footer-WRw .bottom-bar-Ki9 {
  margin: 0rem 0.2rem 0rem 1.35rem;
  box-sizing: border-box;
  padding: 1.6rem 0;
  width: calc(100% - 1.55rem);
  height: 5.6rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #6c7274;
  flex-shrink: 0;
}
.cart-oaH .footer-WRw .bottom-bar-Ki9 .copyright-diq {
  margin: 0rem 49.5rem 0.4rem 0rem;
  display: flex;
  column-gap: 2.8rem;
  align-items: center;
  flex-shrink: 0;
}
.cart-oaH .footer-WRw .bottom-bar-Ki9 .copyright-diq .copyright-2023-3legant-all-rights-reserved-ACy {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #e8ecef;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cart-oaH .footer-WRw .bottom-bar-Ki9 .copyright-diq .privacy-policy-t8y {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6666666667;
  color: #fdfdfd;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cart-oaH .footer-WRw .bottom-bar-Ki9 .copyright-diq .terms-of-use-cKs {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6666666667;
  color: #fdfdfd;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cart-oaH .footer-WRw .bottom-bar-Ki9 .social-icon-YzD {
  box-sizing: border-box;
  padding: 0.2rem 0.2rem 0.2rem 0rem;
  height: 100%;
  display: flex;
  column-gap: 3.2rem;
  align-items: center;
  flex-shrink: 0;
}
.cart-oaH .footer-WRw .bottom-bar-Ki9 .social-icon-YzD .social-outline-instagram-GfK {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cart-oaH .footer-WRw .bottom-bar-Ki9 .social-icon-YzD .social-outline-facebook-177 {
  width: 1.2rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cart-oaH .footer-WRw .bottom-bar-Ki9 .social-icon-YzD .social-outline-youtube-k4h {
  width: 2rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
tr,td {
  border: 1px solid black;
  border-collapse: collapse;
}
tr,th {
  border: 1px solid black;
  border-collapse: collapse;
}
table {
  border-collapse: collapse;
  justify-content: center;
  text-align: center;
}