
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.halaman-playlist-sebelum-masuk-sFo {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .auto-group-2ev9-Pzq {
    box-sizing: border-box;
    padding: 0rem 0.1rem 10rem 0.1rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .navigation-bar-7fw {
      box-sizing: border-box;
      padding: 1.6rem 16rem 1.6rem 14.65rem;
      width: 100%;
      height: 7.2rem;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      flex-shrink: 0;

      .logo-deH {
        width: 13.2rem;
        cursor: pointer;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.8rem 16.3rem 0.8rem 0rem;
        justify-content: center;
        font-weight: 500;
        display: flex;
        height: calc(100% - 1.6rem);
        text-align: center;
        font-size: 2.4rem;
        line-height: 1;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        align-items: center;

        .logo-deH-sub-0 {
        }
        .logo-deH-sub-1 {
          font-family: Poppins, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1;
          color: #38cb89;
        }
        .logo-deH-sub-2 {
        }
      }
      .elements-navigation-link-group--tyX {
        flex-shrink: 0;
        margin: 0.8rem 20.822rem 0.8rem 0rem;
        height: calc(100% - 1.6rem);
        display: flex;
        column-gap: 4rem;
        align-items: center;

        .elements-navigation-link--zmf {
          flex-shrink: 0;
          width: 5.6rem;
          height: 100%;
          cursor: pointer;

          .button-kF3 {
            height: 100%;
            border: solid 0 #141718;
            box-sizing: border-box;
            width: 100%;

            .content-WED {
              line-height: 1.7142857143;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              justify-content: center;
              width: 100%;
              font-size: 1.4rem;
              font-weight: 500;
              align-items: center;
              height: 100%;
              color: #6c7274;
              display: flex;
            }
          }
        }
        .elements-navigation-link--Csj {
          width: 13.1rem;
          height: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .button-xc1 {
            height: 100%;
            border: solid 0 #141718;
            box-sizing: border-box;
            width: 100%;

            .content-8WV {
              align-items: center;
              width: 100%;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              color: #6c7274;
              justify-content: center;
              height: 100%;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.7142857143;
            }
          }
        }
        .auto-group-vu8b-qvh {
          width: 18.2rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .button-nqw {
            position: absolute;
            left: 0;
            top: 0;
            border: solid 0 #141718;
            box-sizing: border-box;
            width: 11.7272rem;
            height: 2.4rem;

            .content-vx9 {
              font-size: 1.4rem;
              display: flex;
              justify-content: center;
              width: 4.8rem;
              height: 100%;
              font-weight: 500;
              line-height: 1.7142857143;
              color: #141718;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              align-items: center;
              margin-right: 6.9272rem;
            }
          }
          .elements-navigation-link--Re1 {
            height: 2.4rem;
            cursor: pointer;
            position: absolute;
            left: 8.8rem;
            top: 0;
            width: 9.4rem;

            .button-x89 {
              border: solid 0 #141718;
              width: 100%;
              height: 100%;
              font-weight: 500;
              line-height: 1.7142857143;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 1.4rem;
              color: #6c7274;
              display: flex;
              align-items: center;
              justify-content: center;
              box-sizing: border-box;
            }
          }
        }
      }
      .icons-U6V {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-aydm-qBw {
          box-sizing: border-box;
          padding: 0.6rem 1.6rem 0.6rem 0.228rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .interface-outline-search-02-Z7w {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.7719rem;
            width: 2rem;
            height: 2rem;
          }
          .masuk-tAD {
            display: flex;
            font-size: 1.6rem;
            line-height: 1.75;
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            color: #6e6d7a;
            font-family: Inter, 'Source Sans Pro';
            font-weight: 400;
          }
        }
        .sign-up-1kd {
          border-radius: 0.8rem;
          flex-shrink: 0;
          font-size: 1.4rem;
          line-height: 1.4285714286;
          display: flex;
          color: #ffffff;
          white-space: nowrap;
          width: 7.3281rem;
          height: 100%;
          font-weight: 500;
          font-family: Inter, 'Source Sans Pro';
          background-color: #38cb89;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }
    }
    .image-placeholder-header-JUq {
      background-repeat: no-repeat;
      flex-shrink: 0;
      width: calc(100% - 31.8rem);
      height: 39.2rem;
      background-size: 100% 100%;
      background-position: center;
      background-image: url('REPLACE_IMAGE:997f13f0c2a3cbc97d92d171ec631189ede1d266');
      margin: 0rem 15.9rem 6rem 15.9rem;
      box-sizing: border-box;
      padding: 11.5rem 39.75rem 11.5rem 39.65rem;

      .title-ax9 {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .breadcrumbs-link-group-ja9 {
          width: calc(100% - 19rem);
          height: 2.4rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 9.5rem 2.4rem 9.5rem;

          .breadcrumbs-button-FYV {
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 0.4416rem;

            .link-oK7 {
              line-height: 1.7142857143;
              color: #5f5f5f;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.8584rem;
              font-size: 1.4rem;
              font-weight: 500;
            }
            .icon-chevron-right-jCm {
              height: 0.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 0.3rem;
            }
          }
          .auto-group-hddu-fMK {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.7142857143;
            color: #111111;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-left: 1.6rem;
            height: 100%;
          }
        }
        .album-ZxV {
          margin: 0rem 0.1rem 2.3rem 0rem;
          font-weight: 500;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 5.4rem;
          line-height: 1.0740740741;
          letter-spacing: -0.1rem;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
        .kreasikan-albummu-sesuka-hatimu-sTP {
          line-height: 1.6;
          color: #111111;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
        }
      }
    }
    .grids-xzd {
      flex-shrink: 0;
      margin: 0 15.9rem;
      width: calc(100% - 31.8rem);
      align-items: center;
      display: flex;
      flex-direction: column;

      .toolbar-Job {
        margin-bottom: 4rem;
        width: 100%;
        height: 2.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .dropdown1-425 {
          margin-right: 89.4rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .buat-playlist-1T7 {
            line-height: 1.625;
            color: #6c7274;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 2.6rem;
            font-size: 1.6rem;
            font-weight: 600;
          }
          .icon-plus-circle-M1B {
            margin-top: 0.1rem;
            width: 1.7rem;
            height: 1.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .button-4gH {
          display: flex;
          align-items: center;
          border: solid 0 #111111;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-right: 0.4773rem;
          height: 100%;

          .content-DZB {
            flex-shrink: 0;
            margin-right: 0.9227rem;
            width: 6.3rem;
            height: 100%;
            font-weight: 600;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            line-height: 1.625;
            color: #111111;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
          }
          .icon-chevron-down-XJy {
            width: 1rem;
            height: 0.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .product-eeV {
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
        align-items: center;
        display: flex;

        .list-1V3 {
          cursor: pointer;
          row-gap: 2.1rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 7.7rem;
          width: 100%;

          .row-01-9r9 {
            margin-right: 8.9881rem;
            width: calc(100% - 8.9881rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .elements-card-u4d {
              width: 47.0119rem;
              height: 17.5rem;
              position: relative;
              flex-shrink: 0;
              margin: 0rem 8.988rem 0.3rem 0rem;

              .content-RHs {
                border-radius: 0 1.5rem 1.5rem 0;
                width: 28.2119rem;
                height: 17.5rem;
                position: absolute;
                left: 18.8rem;
                top: 0;
                background-color: #e8ecef;
                box-sizing: border-box;
                padding: 2.4rem;

                .textprice-MSR {
                  height: 5.3rem;
                  width: 15.5rem;

                  .angel-book-hWH {
                    white-space: nowrap;
                    margin-bottom: 0.5rem;
                    font-size: 2.8rem;
                    font-weight: 600;
                    line-height: 0.9285714286;
                    color: #141718;
                    font-family: Inter, 'Source Sans Pro';
                  }
                  .by-farhan-XER {
                    font-weight: 600;
                    line-height: 1.375;
                    color: #6c7274;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    font-size: 1.6rem;
                  }
                }
              }
              .elements-card-dHT {
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 1.5rem;
                width: 47rem;
                height: 17.5rem;

                .image-placeholder-meZ {
                  margin-right: 28.2rem;
                  width: 18.8rem;
                  height: 100%;
                  overflow: hidden;
                  position: relative;

                  .paste-image-Wc9 {
                    vertical-align: top;
                    border-radius: 1.5rem 0 0 1.5rem;
                    width: 18.8rem;
                    height: 17.5rem;
                    object-fit: cover;
                  }
                }
              }
            }
            .elements-card-DWZ {
              height: 17.5rem;
              position: relative;
              flex-shrink: 0;
              margin-top: 0.3rem;
              width: 47.0119rem;

              .content-AAu {
                width: 28.2119rem;
                height: 17.5rem;
                left: 18.8rem;
                border-radius: 0 1.5rem 1.5rem 0;
                box-sizing: border-box;
                position: absolute;
                top: 0;
                background-color: #000000;
                padding: 2.4rem;

                .textprice-JH7 {
                  width: 15.5rem;
                  height: 5.3rem;

                  .angel-book-2U1 {
                    white-space: nowrap;
                    margin-bottom: 0.5rem;
                    font-size: 2.8rem;
                    font-weight: 600;
                    line-height: 0.9285714286;
                    color: #ffffff;
                    font-family: Inter, 'Source Sans Pro';
                  }
                  .by-farhan-mAh {
                    white-space: nowrap;
                    font-size: 1.6rem;
                    font-weight: 600;
                    line-height: 1.375;
                    color: #6c7274;
                    font-family: Inter, 'Source Sans Pro';
                  }
                }
              }
              .elements-card-gHf {
                left: 0;
                top: 0;
                border-radius: 1.5rem;
                width: 47rem;
                height: 17.5rem;
                position: absolute;

                .image-placeholder-E4H {
                  margin-right: 28.2rem;
                  width: 18.8rem;
                  height: 100%;
                  overflow: hidden;
                  position: relative;

                  .paste-image-y1s {
                    border-radius: 1.5rem 0 0 1.5rem;
                    width: 18.8rem;
                    height: 17.5rem;
                    object-fit: cover;
                    vertical-align: top;
                  }
                }
              }
            }
          }
          .row-5-UjK {
            margin-right: 8.9881rem;
            width: calc(100% - 8.9881rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .elements-card-Dwo {
              margin: 0rem 8.988rem 0.3rem 0rem;
              width: 47.0119rem;
              height: 17.5rem;
              position: relative;
              flex-shrink: 0;

              .content-9Kf {
                background-color: #e8ecef;
                border-radius: 0 1.5rem 1.5rem 0;
                box-sizing: border-box;
                padding: 2.4rem;
                position: absolute;
                top: 0;
                width: 28.2119rem;
                height: 17.5rem;
                left: 18.8rem;

                .textprice-5j7 {
                  width: 15.5rem;
                  height: 5.3rem;

                  .angel-book-2eM {
                    margin-bottom: 0.5rem;
                    font-size: 2.8rem;
                    font-weight: 600;
                    line-height: 0.9285714286;
                    color: #141718;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .by-farhan-AkZ {
                    font-weight: 600;
                    line-height: 1.375;
                    color: #6c7274;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    font-size: 1.6rem;
                  }
                }
              }
              .elements-card-tRf {
                top: 0;
                border-radius: 1.5rem;
                width: 47rem;
                height: 17.5rem;
                position: absolute;
                left: 0;

                .image-placeholder-F1K {
                  margin-right: 28.2rem;
                  width: 18.8rem;
                  height: 100%;
                  overflow: hidden;
                  position: relative;

                  .paste-image-PdK {
                    width: 18.8rem;
                    height: 17.5rem;
                    object-fit: cover;
                    vertical-align: top;
                    border-radius: 1.5rem 0 0 1.5rem;
                  }
                }
              }
            }
            .elements-card-7ZK {
              position: relative;
              flex-shrink: 0;
              margin-top: 0.3rem;
              width: 47.0119rem;
              height: 17.5rem;

              .content-TNH {
                left: 18.8rem;
                border-radius: 0 1.5rem 1.5rem 0;
                height: 17.5rem;
                position: absolute;
                top: 0;
                background-color: #000000;
                box-sizing: border-box;
                padding: 2.4rem;
                width: 28.2119rem;

                .textprice-Cam {
                  width: 15.5rem;
                  height: 5.3rem;

                  .angel-book-YPj {
                    color: #ffffff;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    margin-bottom: 0.5rem;
                    font-size: 2.8rem;
                    font-weight: 600;
                    line-height: 0.9285714286;
                  }
                  .by-farhan-fz9 {
                    color: #6c7274;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    font-size: 1.6rem;
                    font-weight: 600;
                    line-height: 1.375;
                  }
                }
              }
              .elements-card-nYy {
                height: 17.5rem;
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 1.5rem;
                width: 47rem;

                .image-placeholder-YHF {
                  margin-right: 28.2rem;
                  width: 18.8rem;
                  height: 100%;
                  overflow: hidden;
                  position: relative;

                  .paste-image-guF {
                    vertical-align: top;
                    border-radius: 1.5rem 0 0 1.5rem;
                    width: 18.8rem;
                    height: 17.5rem;
                    object-fit: cover;
                  }
                }
              }
            }
          }
          .row-4-cH7 {
            width: calc(100% - 8.9881rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 8.9881rem;

            .elements-card-MkV {
              height: 17.5rem;
              position: relative;
              flex-shrink: 0;
              margin: 0rem 8.988rem 0.3rem 0rem;
              width: 47.0119rem;

              .content-tkR {
                border-radius: 0 1.5rem 1.5rem 0;
                box-sizing: border-box;
                width: 28.2119rem;
                position: absolute;
                left: 18.8rem;
                top: 0;
                background-color: #e8ecef;
                padding: 2.4rem;
                height: 17.5rem;

                .textprice-37X {
                  width: 15.5rem;
                  height: 5.3rem;

                  .angel-book-z2m {
                    font-weight: 600;
                    line-height: 0.9285714286;
                    color: #141718;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    margin-bottom: 0.5rem;
                    font-size: 2.8rem;
                  }
                  .by-farhan-uvR {
                    white-space: nowrap;
                    font-size: 1.6rem;
                    font-weight: 600;
                    line-height: 1.375;
                    color: #6c7274;
                    font-family: Inter, 'Source Sans Pro';
                  }
                }
              }
              .elements-card-S9f {
                top: 0;
                border-radius: 1.5rem;
                width: 47rem;
                height: 17.5rem;
                position: absolute;
                left: 0;

                .image-placeholder-amf {
                  margin-right: 28.2rem;
                  width: 18.8rem;
                  height: 100%;
                  overflow: hidden;
                  position: relative;

                  .paste-image-8YH {
                    height: 17.5rem;
                    object-fit: cover;
                    vertical-align: top;
                    border-radius: 1.5rem 0 0 1.5rem;
                    width: 18.8rem;
                  }
                }
              }
            }
            .elements-card-TaZ {
              margin-top: 0.3rem;
              width: 47.0119rem;
              height: 17.5rem;
              position: relative;
              flex-shrink: 0;

              .content-QVo {
                padding: 2.4rem;
                width: 28.2119rem;
                left: 18.8rem;
                top: 0;
                background-color: #000000;
                box-sizing: border-box;
                height: 17.5rem;
                position: absolute;
                border-radius: 0 1.5rem 1.5rem 0;

                .textprice-9iH {
                  width: 15.5rem;
                  height: 5.3rem;

                  .angel-book-W33 {
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    margin-bottom: 0.5rem;
                    font-size: 2.8rem;
                    font-weight: 600;
                    line-height: 0.9285714286;
                    color: #ffffff;
                  }
                  .by-farhan-Ezd {
                    color: #6c7274;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    font-size: 1.6rem;
                    font-weight: 600;
                    line-height: 1.375;
                  }
                }
              }
              .elements-card-mUm {
                left: 0;
                top: 0;
                border-radius: 1.5rem;
                width: 47rem;
                height: 17.5rem;
                position: absolute;

                .image-placeholder-ieu {
                  position: relative;
                  margin-right: 28.2rem;
                  width: 18.8rem;
                  height: 100%;
                  overflow: hidden;

                  .paste-image-4Cy {
                    width: 18.8rem;
                    height: 17.5rem;
                    object-fit: cover;
                    vertical-align: top;
                    border-radius: 1.5rem 0 0 1.5rem;
                  }
                }
              }
            }
          }
        }
        .button-NDf {
          font-weight: 500;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          box-sizing: border-box;
          margin: 0 47.1rem;
          width: calc(100% - 94.2rem);
          height: 4rem;
          letter-spacing: -0.04rem;
          display: flex;
          line-height: 1.75;
          color: #141718;
          justify-content: center;
          border-radius: 8rem;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.6rem;
          border: solid 0.1rem #141718;
        }
      }
    }
  }
  .footer-DVB {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #141718;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 8rem 16rem 3.2rem 14.65rem;
    width: 100%;

    .logo-and-links-wvy {
      margin-bottom: 5.7rem;
      width: 100%;
      height: 2.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .logo-and-slogan-gtZ {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 27.8rem;
        height: 100%;

        .logo-2xR {
          width: 13.2rem;
          font-weight: 500;
          color: #ffffff;
          cursor: pointer;
          display: flex;
          justify-content: center;
          height: 100%;
          white-space: nowrap;
          align-items: center;
          margin-right: 1.85rem;
          text-align: center;
          font-size: 2.4rem;
          line-height: 1;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;

          .logo-2xR-sub-0 {
          }
          .logo-2xR-sub-1 {
            color: #38cb89;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1;
          }
          .logo-2xR-sub-2 {
          }
        }
        .rectangle-319-MdK {
          background-color: #6c7274;
          flex-shrink: 0;
          margin-right: 3.2rem;
          width: 0.1rem;
          height: 2.4rem;
        }
        .gift-decoration-store-tNM {
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5714285714;
          color: #e8ecef;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .nav-pG1 {
        height: calc(100% - 0.2rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0.1rem 0;

        .home-MFw {
          white-space: nowrap;
          font-size: 1.4rem;
          font-weight: 400;
          color: #fdfdfd;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 4rem;
          cursor: pointer;
          line-height: 1.5714285714;
        }
        .shop-tFs {
          margin-right: 2.2rem;
          cursor: pointer;
          font-size: 1.4rem;
          color: #fdfdfd;
          flex-shrink: 0;
          font-weight: 400;
          line-height: 1.5714285714;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-a8z9-chf {
          white-space: nowrap;
          flex-shrink: 0;
          font-weight: 400;
          color: #fdfdfd;
          padding-left: 1.8rem;
          height: 100%;
          font-size: 1.4rem;
          line-height: 1.5714285714;
          font-family: Inter, 'Source Sans Pro';
          margin-right: 4rem;
          box-sizing: border-box;
        }
        .contact-us-Wo3 {
          font-weight: 400;
          line-height: 1.5714285714;
          color: #fdfdfd;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.4rem;
        }
      }
    }
    .bottom-bar-r6D {
      box-sizing: border-box;
      padding: 1.6rem 0;
      width: calc(100% - 1.55rem);
      align-items: center;
      margin: 0rem 0.2rem 0rem 1.35rem;
      height: 5.6rem;
      display: flex;
      border: solid 0.1rem #6c7274;
      flex-shrink: 0;

      .copyright-8pR {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 49.8rem 0.4rem 0rem;
        display: flex;
        column-gap: 2.8rem;

        .copyright-2023-3legant-all-rights-reserved-rkR {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.6666666667;
          color: #e8ecef;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .privacy-policy-yKF {
          font-weight: 600;
          line-height: 1.6666666667;
          color: #fdfdfd;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.2rem;
        }
        .terms-of-use-iGq {
          line-height: 1.6666666667;
          color: #fdfdfd;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 600;
        }
      }
      .social-icon-3pu {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.2rem 0.2rem 0.2rem 0rem;
        height: 100%;
        display: flex;
        column-gap: 3.2rem;
        align-items: center;

        .social-outline-instagram-mku {
          width: 2rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .social-outline-facebook-6oB {
          width: 1.2rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .social-outline-youtube-dYD {
          flex-shrink: 0;
          width: 2rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
  }
}
