
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.halaman-perpustakaan-mitra-setelah-masuk-14u {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .navigation-bar-7Nq {
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.6rem 16rem 1.6rem 14.65rem;
    width: 100%;
    height: 6rem;
    display: flex;

    .logo-po3 {
      align-items: center;
      height: calc(100% - 0.4rem);
      font-size: 2.4rem;
      line-height: 1;
      justify-content: center;
      margin: 0.2rem 20.45rem 0.2rem 0rem;
      font-weight: 500;
      font-family: Poppins, 'Source Sans Pro';
      width: 13.2rem;
      flex-shrink: 0;
      white-space: nowrap;
      display: flex;
      cursor: pointer;
      text-align: center;
      color: #000000;

      .logo-po3-sub-0 {
      }
      .logo-po3-sub-1 {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1;
        color: #38cb89;
        font-family: Poppins, 'Source Sans Pro';
      }
      .logo-po3-sub-2 {
      }
    }
    .elements-navigation-link-group--rt9 {
      height: calc(100% - 0.4rem);
      cursor: pointer;
      display: flex;
      column-gap: 4rem;
      align-items: center;
      flex-shrink: 0;
      margin: 0.2rem 21.8rem 0.2rem 0rem;

      .button-NLh {
        width: 5.6rem;
        height: 100%;
        border: solid 0 #141718;
        box-sizing: border-box;
        flex-shrink: 0;

        .content-vt1 {
          line-height: 1.7142857143;
          color: #6c7274;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-size: 1.4rem;
          font-weight: 500;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
        }
      }
      .button-S5f {
        border: solid 0 #141718;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 13.1rem;
        height: 100%;

        .content-bUM {
          white-space: nowrap;
          align-items: center;
          width: 100%;
          height: 100%;
          font-family: Inter, 'Source Sans Pro';
          color: #141718;
          display: flex;
          justify-content: center;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.7142857143;
        }
      }
      .auto-group-1jnf-W5X {
        position: relative;
        flex-shrink: 0;
        width: 18.2rem;
        height: 100%;

        .elements-navigation-link--FJ1 {
          width: 11.5704rem;
          height: 2.4rem;
          cursor: pointer;
          position: absolute;
          left: 0;
          top: 0;

          .button-n33 {
            border: solid 0 #141718;
            box-sizing: border-box;
            width: 100%;
            height: 100%;

            .content-YY1 {
              height: 100%;
              font-weight: 500;
              color: #6c7274;
              display: flex;
              justify-content: center;
              width: 4.8rem;
              font-size: 1.4rem;
              line-height: 1.7142857143;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              align-items: center;
              margin-right: 6.7704rem;
            }
          }
        }
        .elements-navigation-link--qn1 {
          position: absolute;
          left: 8.8rem;
          top: 0;
          width: 9.4rem;
          height: 2.4rem;
          cursor: pointer;

          .button-NG9 {
            width: 100%;
            line-height: 1.7142857143;
            align-items: center;
            border: solid 0 #141718;
            box-sizing: border-box;
            justify-content: center;
            height: 100%;
            font-size: 1.4rem;
            font-weight: 500;
            color: #6c7274;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
          }
        }
      }
    }
    .icons-5gM {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-5pvr-Smo {
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.2rem 1.6rem 0.2rem 0.2rem;
        height: 100%;
        display: flex;

        .interface-outline-search-02-NfT {
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.8rem;
          width: 2rem;
        }
        .interface-outline-user-circle-Vzy {
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 2.4rem;
          height: 2.4rem;
        }
      }
      .elements-navigation-cart-button-SQR {
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.4rem 0rem 0.4rem 0.372rem;

        .outline-shopping-bag-ALR {
          height: 1.8rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.7721rem;
          width: 1.8559rem;
        }
        .frame-3-VtV {
          font-weight: 700;
          border-radius: 1rem;
          flex-shrink: 0;
          overflow: hidden;
          text-align: center;
          font-size: 1.2rem;
          justify-content: center;
          background-color: #141718;
          width: 2rem;
          color: #ffffff;
          white-space: nowrap;
          display: flex;
          align-items: center;
          font-family: Inter, 'Source Sans Pro';
          height: 100%;
          position: relative;
          line-height: 0.8333333333;
        }
      }
    }
  }
  .content-yYm {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 8rem 18.4rem 8.6rem 18.4rem;
    width: 100%;
    align-items: center;

    .perpustakaan-mitra-WHo {
      margin: 0rem 0.1rem 7.9rem 0rem;
      letter-spacing: -0.1rem;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 5.4rem;
      font-weight: 500;
      line-height: 1.0740740741;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
    }
    .content-1VT {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .caption-xQh {
        display: flex;
        align-items: flex-start;
        border: solid 0.1rem #e8ecef;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0rem 23.4rem 0rem 3.2rem;
        width: 100%;
        height: 3rem;

        .nama-perpustakaan-Utq {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5714285714;
          color: #6c7274;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 32.8rem;
        }
        .provinsi-oAR {
          text-align: center;
          font-size: 1.4rem;
          line-height: 1.5714285714;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 18.5rem;
          color: #6c7274;
          font-weight: 400;
        }
        .kabupaten-kota-7gu {
          line-height: 1.5714285714;
          color: #6c7274;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
        }
      }
      .item-EFj {
        height: 12rem;
        display: flex;
        align-items: center;
        border: solid 0.1rem #e8ecef;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.7rem 1.7rem 2.1rem 0.6rem;
        width: 100%;

        .content-kjs {
          margin-right: 20.2rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .image-placeholder-WU9 {
            margin-right: 1.6rem;
            height: 100%;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;

            .paste-image-3ys {
              width: 6rem;
              height: 7.2rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .product-bEh {
            margin: 1.1rem 0;
            height: calc(100% - 2.2rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .perpustakaan-universitas-jambi-Li5 {
              margin-bottom: 0.8rem;
              font-weight: 600;
              line-height: 1.5714285714;
              color: #141718;
              white-space: nowrap;
              cursor: pointer;
              font-size: 1.4rem;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .tere-liye-Tnh {
              color: #6c7274;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.6666666667;
            }
          }
        }
        .jambi-ym3 {
          line-height: 1.5714285714;
          flex-shrink: 0;
          margin: 0.4rem 19.9rem 0rem 0rem;
          text-align: center;
          font-size: 1.4rem;
          white-space: nowrap;
          font-weight: 400;
          color: #141718;
          font-family: Inter, 'Source Sans Pro';
        }
        .muaro-jambi-hBF {
          color: #141718;
          flex-shrink: 0;
          margin: 0.4rem 7.5rem 0rem 0rem;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5714285714;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .button-c3K {
          width: 15.2rem;
          justify-content: center;
          border-radius: 0.8rem;
          background-color: #141718;
          margin: 1.8rem 0rem 1.4rem 0rem;
          height: calc(100% - 3.2rem);
          cursor: pointer;
          line-height: 1.75;
          letter-spacing: -0.04rem;
          color: #ffffff;
          display: flex;
          font-size: 1.6rem;
          font-family: Inter, 'Source Sans Pro';
          align-items: center;
          flex-shrink: 0;
          text-align: center;
          font-weight: 500;
          white-space: nowrap;
        }
      }
      .item-eEu {
        align-items: center;
        border: solid 0.1rem #e8ecef;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.7rem 1.7rem 2.1rem 0.6rem;
        width: 100%;
        height: 12rem;
        display: flex;

        .content-xmP {
          margin-right: 20.1rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .image-placeholder-7eH {
            overflow: hidden;
            position: relative;
            flex-shrink: 0;
            margin-right: 1.6rem;
            height: 100%;

            .paste-image-TTF {
              width: 6rem;
              height: 7.2rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .product-zi5 {
            margin: 1.1rem 0;
            height: calc(100% - 2.2rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .perpustakaan-umum-kota-jambi-jvZ {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.8rem;
              font-size: 1.4rem;
              font-weight: 600;
              font-family: Inter, 'Source Sans Pro';
              cursor: pointer;
              line-height: 1.5714285714;
              color: #141718;
            }
            .tere-liye-G9o {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.6666666667;
              color: #6c7274;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .jambi-zLh {
          margin: 0.4rem 20.6rem 0rem 0rem;
          line-height: 1.5714285714;
          color: #141718;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 400;
          flex-shrink: 0;
        }
        .kota-jambi-6uX {
          margin: 0.4rem 8rem 0rem 0rem;
          font-weight: 400;
          color: #141718;
          flex-shrink: 0;
          white-space: nowrap;
          text-align: center;
          font-size: 1.4rem;
          line-height: 1.5714285714;
          font-family: Inter, 'Source Sans Pro';
        }
        .button-pad {
          display: flex;
          background-color: #141718;
          letter-spacing: -0.04rem;
          width: 15.2rem;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 500;
          font-family: Inter, 'Source Sans Pro';
          margin: 1.8rem 0rem 1.4rem 0rem;
          line-height: 1.75;
          border-radius: 0.8rem;
          height: calc(100% - 3.2rem);
          color: #ffffff;
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          cursor: pointer;
        }
      }
      .item-g73 {
        padding: 2.7rem 1.7rem 2.1rem 0.6rem;
        width: 100%;
        height: 12rem;
        display: flex;
        align-items: center;
        border: solid 0.1rem #e8ecef;
        flex-shrink: 0;
        box-sizing: border-box;

        .content-bjo {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 22.55rem;

          .image-placeholder-x4Z {
            margin-right: 1.6rem;
            height: 100%;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;

            .paste-image-JPK {
              width: 6rem;
              height: 7.2rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .product-RTw {
            margin: 1.1rem 0;
            height: calc(100% - 2.2rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .perpustakaan-adinegoro-a5w {
              line-height: 1.5714285714;
              flex-shrink: 0;
              cursor: pointer;
              font-size: 1.4rem;
              font-weight: 600;
              white-space: nowrap;
              margin-bottom: 0.8rem;
              color: #141718;
              font-family: Inter, 'Source Sans Pro';
            }
            .tere-liye-tsK {
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.6666666667;
              color: #6c7274;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .sumatra-barat-2Tj {
          text-align: center;
          font-size: 1.4rem;
          color: #141718;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.4rem 17.55rem 0rem 0rem;
          font-weight: 400;
          line-height: 1.5714285714;
          white-space: nowrap;
        }
        .sawahlunto-w4u {
          color: #141718;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.4rem 7.9rem 0rem 0rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5714285714;
          text-align: center;
        }
        .button-3td {
          cursor: pointer;
          letter-spacing: -0.04rem;
          justify-content: center;
          background-color: #141718;
          text-align: center;
          font-size: 1.6rem;
          line-height: 1.75;
          color: #ffffff;
          align-items: center;
          border-radius: 0.8rem;
          flex-shrink: 0;
          height: calc(100% - 3.2rem);
          font-weight: 500;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin: 1.8rem 0rem 1.4rem 0rem;
          width: 15.2rem;
          display: flex;
        }
      }
      .item-ufw {
        display: flex;
        align-items: center;
        border: solid 0.1rem #e8ecef;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.7rem 1.7rem 1.8rem 0.6rem;
        width: 100%;
        height: 12rem;

        .content-ECR {
          margin-right: 14.75rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .image-placeholder-nDw {
            margin: 0.15rem 1.6rem 0.15rem 0rem;
            height: calc(100% - 0.3rem);
            overflow: hidden;
            position: relative;
            flex-shrink: 0;

            .paste-image-7n1 {
              width: 6rem;
              height: 7.2rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .product-FtD {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .perpustakaan-universitas-sriwijaya-palembang-R21 {
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.4rem;
              font-weight: 600;
              cursor: pointer;
              line-height: 1.5714285714;
              color: #141718;
              flex-shrink: 0;
              margin-bottom: 1.1rem;
              max-width: 23.9rem;
            }
            .tere-liye-XKw {
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.6666666667;
              color: #6c7274;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .sumatra-selatan-rt1 {
          font-weight: 400;
          line-height: 1.5714285714;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 16.65rem 0rem 0rem;
          text-align: center;
          font-size: 1.4rem;
          color: #141718;
        }
        .palembang-NbT {
          white-space: nowrap;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5714285714;
          color: #141718;
          margin: 0.1rem 8.5rem 0rem 0rem;
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .button-HyK {
          width: 15.2rem;
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 0.8rem;
          background-color: #141718;
          flex-shrink: 0;
          height: calc(100% - 3.5rem);
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.75;
          color: #ffffff;
          white-space: nowrap;
          margin: 1.8rem 0rem 1.7rem 0rem;
          cursor: pointer;
          letter-spacing: -0.04rem;
        }
      }
    }
  }
  .footer-8U9 {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #141718;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 8rem 16rem 3.2rem 14.65rem;

    .logo-and-links-fiy {
      width: 100%;
      height: 2.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 5.7rem;

      .logo-and-slogan-1Xw {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 27.8rem;

        .legant-xi5 {
          display: flex;
          align-items: baseline;
          text-align: center;
          font-size: 2.4rem;
          font-family: Poppins, 'Source Sans Pro';
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.85rem;
          font-weight: 500;
          line-height: 1;

          .legant-xi5-sub-0 {
          }
          .legant-xi5-sub-1 {
            color: #38cb89;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1;
          }
          .legant-xi5-sub-2 {
          }
          .legant-xi5-sub-3 {
            font-family: Poppins, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1;
            color: #6c7274;
          }
        }
        .rectangle-319-WWd {
          flex-shrink: 0;
          margin-right: 3.2rem;
          width: 0.1rem;
          height: 2.4rem;
          background-color: #6c7274;
        }
        .gift-decoration-store-FDK {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5714285714;
          color: #e8ecef;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .nav-Bcm {
        margin: 0.1rem 0;
        height: calc(100% - 0.2rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .home-isb {
          line-height: 1.5714285714;
          color: #fdfdfd;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4rem;
          font-size: 1.4rem;
          font-weight: 400;
        }
        .shop-FsX {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5714285714;
          color: #fdfdfd;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.2rem;
        }
        .auto-group-r4cj-zq7 {
          margin-right: 4rem;
          padding-left: 1.8rem;
          font-size: 1.4rem;
          white-space: nowrap;
          box-sizing: border-box;
          height: 100%;
          font-weight: 400;
          line-height: 1.5714285714;
          color: #fdfdfd;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .contact-us-iFK {
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5714285714;
          color: #fdfdfd;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .bottom-bar-rMX {
      width: calc(100% - 1.55rem);
      display: flex;
      border: solid 0.1rem #6c7274;
      flex-shrink: 0;
      margin: 0rem 0.2rem 0rem 1.35rem;
      box-sizing: border-box;
      padding: 1.6rem 0;
      height: 5.6rem;
      align-items: center;

      .copyright-xfT {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 49.5rem 0.4rem 0rem;
        display: flex;
        column-gap: 2.8rem;

        .copyright-2023-3legant-all-rights-reserved-6Fs {
          line-height: 1.6666666667;
          color: #e8ecef;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 400;
        }
        .privacy-policy-ovy {
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.6666666667;
          color: #fdfdfd;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .terms-of-use-x3B {
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.6666666667;
          color: #fdfdfd;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .social-icon-H5T {
        display: flex;
        column-gap: 3.2rem;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.2rem 0.2rem 0.2rem 0rem;
        height: 100%;

        .social-outline-instagram-oZb {
          width: 2rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .social-outline-facebook-wvh {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 1.2rem;
          height: 1.8rem;
        }
        .social-outline-youtube-tb3 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 2rem;
          height: 1.8rem;
        }
      }
    }
  }
}
