
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.quick-change-light-typography-M3F {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .header-sXP {
    box-sizing: border-box;
    padding: 10rem 7.5rem;
    width: 100%;
    height: 27.6rem;
    background-color: #131416;
    flex-shrink: 0;

    .title-pBj {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;

      .typeface-msf {
        margin-right: 81.7rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .typography-X69 {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.7rem;
          font-size: 4.8rem;
          font-weight: 600;
          line-height: 1.2125;
        }
        .vector-1-Siu {
          vertical-align: top;
          flex-shrink: 0;
          width: 10.95rem;
          height: 0;
          object-fit: contain;
        }
      }
      .desktop-zVX {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: right;
        font-size: 4.8rem;
        font-weight: 600;
      }
    }
  }
  .auto-group-xgsm-Knh {
    box-sizing: border-box;
    padding: 8.4rem 5.5rem 7rem 5.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-pxzq-T8D {
      margin-bottom: 11.4rem;
      width: 100%;
      height: 71rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .heading-CLh {
        height: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 18.4rem;

        .heading-1-left-jbX {
          font-size: 9.6rem;
          font-weight: 500;
          letter-spacing: -0.192rem;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 3.6rem;
          line-height: 1;
          color: #111111;
          white-space: nowrap;
        }
        .heading-1-left-eyP {
          margin-bottom: 3.6rem;
          font-size: 8rem;
          font-weight: 500;
          line-height: 1.05;
          color: #111111;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          letter-spacing: -0.3rem;
          flex-shrink: 0;
        }
        .heading-2-left-PAH {
          letter-spacing: -0.2rem;
          color: #111111;
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 3.6rem;
          font-size: 7.2rem;
          font-weight: 500;
          line-height: 1.0555555556;
          font-family: Poppins, 'Source Sans Pro';
        }
        .heading-3-left-6aV {
          color: #111111;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 500;
          line-height: 1.0740740741;
          letter-spacing: -0.1rem;
          flex-shrink: 0;
          margin-bottom: 3.5rem;
          font-size: 5.4rem;
        }
        .heading-4-left-2DF {
          flex-shrink: 0;
          margin-bottom: 3.6rem;
          font-size: 4rem;
          letter-spacing: -0.04rem;
          color: #111111;
          font-weight: 500;
          line-height: 1.1;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .heading-5-left-Lzd {
          margin-bottom: 3.6rem;
          font-size: 3.4rem;
          line-height: 1.1176470588;
          letter-spacing: -0.06rem;
          font-weight: 500;
          color: #111111;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .heading-6-left-5SR {
          font-size: 2.8rem;
          line-height: 1.2142857143;
          letter-spacing: -0.06rem;
          color: #111111;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 3.6rem;
          flex-shrink: 0;
          font-weight: 500;
        }
        .heading-6-left-QDo {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.4;
          color: #111111;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .text-wjX {
        box-sizing: border-box;
        padding-right: 0.2rem;
        height: 30rem;
        display: flex;
        column-gap: 20.3rem;
        align-items: center;
        flex-shrink: 0;

        .regular-fvR {
          height: 100%;
          overflow: hidden;
          position: relative;
          row-gap: 1.6rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .text-26px-regular-left-omj {
            font-size: 2.6rem;
            font-weight: 400;
            line-height: 1.5384615385;
            color: #3e3e59;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .text-22px-regular-left-MHT {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.2rem;
            font-weight: 400;
            line-height: 1.5454545455;
            color: #3e3e59;
          }
          .text-20px-regular-left-V8m {
            line-height: 1.6;
            color: #3e3e59;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 400;
          }
          .text-18px-regular-left-RYD {
            font-weight: 400;
            line-height: 1.6666666667;
            color: #3e3e59;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
          }
          .text-16px-regular-left-Mwf {
            color: #3e3e59;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.625;
          }
          .text-14px-regular-left-WZf {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5714285714;
            color: #3e3e59;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .text-12px-regular-left-qrq {
            flex-shrink: 0;
            margin-left: 0.1rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.6666666667;
            color: #3e3e59;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .left-NLy {
          height: 100%;
          overflow: hidden;
          position: relative;
          row-gap: 1.6rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .text-26px-medium-left-7JZ {
            line-height: 1.5384615385;
            color: #3e3e59;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.6rem;
            font-weight: 600;
          }
          .text-22px-medium-left-epH {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 1.5454545455;
            color: #3e3e59;
          }
          .text-20px-medium-left-Cau {
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.6;
            color: #3e3e59;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .text-18px-medium-left-kMX {
            color: #3e3e59;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.6666666667;
          }
          .text-16px-medium-left-6gH {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.625;
            color: #3e3e59;
          }
          .text-14px-medium-left-SVF {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.5714285714;
            color: #3e3e59;
            font-family: Inter, 'Source Sans Pro';
          }
          .text-12px-medium-left-abT {
            margin-left: 0.1rem;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.6666666667;
            color: #3e3e59;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .left-JnM {
          flex-shrink: 0;
          height: 100%;
          overflow: hidden;
          position: relative;
          row-gap: 1.6rem;
          display: flex;
          flex-direction: column;

          .text-26px-bold-left-rJ5 {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.6rem;
            font-weight: 700;
            line-height: 1.5384615385;
            color: #3e3e59;
          }
          .text-22px-bold-left-ajs {
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.5454545455;
            color: #3e3e59;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .text-20px-bold-left-XQD {
            font-weight: 700;
            line-height: 1.6;
            color: #3e3e59;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
          }
          .text-18px-bold-left-rxH {
            font-weight: 700;
            line-height: 1.6666666667;
            color: #3e3e59;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
          }
          .text-16px-bold-left-oMj {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.625;
            color: #3e3e59;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .text-14px-bold-left-kGy {
            font-weight: 700;
            line-height: 1.5714285714;
            color: #3e3e59;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
          }
          .text-12px-bold-left-hCD {
            margin-left: 0.1rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #3e3e59;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
    .button-R8D {
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .light-button-xlarge-left-mhs {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 8.3rem;
        font-size: 2.6rem;
        font-weight: 500;
        line-height: 1.4615384615;
        color: #111111;
        font-family: Inter, 'Source Sans Pro';
      }
      .light-button-large-left-JSu {
        font-weight: 500;
        line-height: 1.5454545455;
        color: #111111;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.4rem 7.7rem 0rem 0rem;
        font-size: 2.2rem;
      }
      .light-button-medium-left-DZs {
        font-size: 1.8rem;
        font-weight: 500;
        letter-spacing: -0.04rem;
        white-space: nowrap;
        margin: 0.6rem 8.5rem 0rem 0rem;
        line-height: 1.7777777778;
        color: #111111;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .light-button-small-left-XKf {
        font-family: Inter, 'Source Sans Pro';
        margin: 0.4rem 7.7rem 0rem 0rem;
        font-weight: 500;
        color: #111111;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        line-height: 1.75;
        letter-spacing: -0.04rem;
      }
      .light-button-xsmall-left-Ejs {
        line-height: 1.7142857143;
        color: #111111;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.4rem;
        font-weight: 500;
      }
    }
  }
}
