
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.halaman-atur-ulang-kata-sandi-7xu {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.halaman-atur-ulang-kata-sandi-7xu .auto-group-jjuu-G57 {
  margin-right: 16rem;
  width: calc(100% - 16rem);
  height: 65.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .auto-group-jjuu-G57 .left-b7P {
  margin-right: 8.8rem;
  box-sizing: border-box;
  padding: 3.2rem 30.25rem 3.2rem 30.15rem;
  height: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  background-color: #000000;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .auto-group-jjuu-G57 .left-b7P .left-b7P-sub-0 {
}
.halaman-atur-ulang-kata-sandi-7xu .auto-group-jjuu-G57 .left-b7P .left-b7P-sub-1 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1;
  color: #38cb89;
  font-family: Poppins, 'Source Sans Pro';
}
.halaman-atur-ulang-kata-sandi-7xu .auto-group-jjuu-G57 .left-b7P .left-b7P-sub-2 {
}
.halaman-atur-ulang-kata-sandi-7xu .auto-group-jjuu-G57 .left-b7P .left-b7P-sub-3 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.halaman-atur-ulang-kata-sandi-7xu .auto-group-jjuu-G57 .sign-in-cgh {
  margin: 22rem 0rem 16.7rem 0rem;
  width: 45.6rem;
  height: calc(100% - 38.7rem);
  row-gap: 3.2rem;
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .auto-group-jjuu-G57 .sign-in-cgh .atur-ulang-kata-sandi-vhP {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.04rem;
  color: #141718;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .auto-group-jjuu-G57 .sign-in-cgh .form-FzZ {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .auto-group-jjuu-G57 .sign-in-cgh .form-FzZ .form-input-pGy {
  margin-bottom: 3.2rem;
  width: 100%;
  height: 4rem;
  border: solid 0.1rem #e8ecef;
  box-sizing: border-box;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .auto-group-jjuu-G57 .sign-in-cgh .form-FzZ .form-input-pGy .content-ZkM {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #6c7274;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e8ecef;
  box-sizing: border-box;
}
.halaman-atur-ulang-kata-sandi-7xu .auto-group-jjuu-G57 .sign-in-cgh .form-FzZ .content-3Qd {
  width: 100%;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #6c7274;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e8ecef;
  box-sizing: border-box;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .auto-group-jjuu-G57 .sign-in-cgh .auto-group-nebm-9Tf {
  margin-right: 7rem;
  width: calc(100% - 7rem);
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .auto-group-jjuu-G57 .sign-in-cgh .auto-group-nebm-9Tf .button-HJy {
  margin-right: 2.4rem;
  width: 18.1rem;
  height: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: -0.04rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141718;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .auto-group-jjuu-G57 .sign-in-cgh .auto-group-nebm-9Tf .button-MJq {
  width: 18.1rem;
  height: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: -0.04rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141718;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .footer-Dbw {
  box-sizing: border-box;
  padding: 8rem 16rem 3.2rem 14.65rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #141718;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .footer-Dbw .logo-and-links-9Eh {
  margin-bottom: 5.7rem;
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .footer-Dbw .logo-and-links-9Eh .logo-and-slogan-HLu {
  margin-right: 27.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .footer-Dbw .logo-and-links-9Eh .logo-and-slogan-HLu .perpusapp-2JV {
  margin-right: 1.85rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .footer-Dbw .logo-and-links-9Eh .logo-and-slogan-HLu .perpusapp-2JV .perpusapp-2JV-sub-0 {
}
.halaman-atur-ulang-kata-sandi-7xu .footer-Dbw .logo-and-links-9Eh .logo-and-slogan-HLu .perpusapp-2JV .perpusapp-2JV-sub-1 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1;
  color: #38cb89;
  font-family: Poppins, 'Source Sans Pro';
}
.halaman-atur-ulang-kata-sandi-7xu .footer-Dbw .logo-and-links-9Eh .logo-and-slogan-HLu .perpusapp-2JV .perpusapp-2JV-sub-2 {
}
.halaman-atur-ulang-kata-sandi-7xu .footer-Dbw .logo-and-links-9Eh .logo-and-slogan-HLu .perpusapp-2JV .perpusapp-2JV-sub-3 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1;
  color: #6c7274;
  font-family: Poppins, 'Source Sans Pro';
}
.halaman-atur-ulang-kata-sandi-7xu .footer-Dbw .logo-and-links-9Eh .logo-and-slogan-HLu .rectangle-319-m37 {
  margin-right: 3.2rem;
  width: 0.1rem;
  height: 2.4rem;
  background-color: #6c7274;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .footer-Dbw .logo-and-links-9Eh .logo-and-slogan-HLu .gift-decoration-store-Vzh {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: #e8ecef;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .footer-Dbw .logo-and-links-9Eh .nav-dr1 {
  margin: 0.1rem 0;
  height: calc(100% - 0.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .footer-Dbw .logo-and-links-9Eh .nav-dr1 .home-yey {
  margin-right: 4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: #fdfdfd;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .footer-Dbw .logo-and-links-9Eh .nav-dr1 .shop-WQ1 {
  margin-right: 2.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: #fdfdfd;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .footer-Dbw .logo-and-links-9Eh .nav-dr1 .auto-group-kgs5-eWD {
  margin-right: 4rem;
  box-sizing: border-box;
  padding-left: 1.8rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: #fdfdfd;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .footer-Dbw .logo-and-links-9Eh .nav-dr1 .contact-us-9hs {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: #fdfdfd;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .footer-Dbw .bottom-bar-5rR {
  margin: 0rem 0.2rem 0rem 1.35rem;
  box-sizing: border-box;
  padding: 1.6rem 0;
  width: calc(100% - 1.55rem);
  height: 5.6rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #6c7274;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .footer-Dbw .bottom-bar-5rR .copyright-o1j {
  margin: 0rem 49.8rem 0.4rem 0rem;
  display: flex;
  column-gap: 2.8rem;
  align-items: center;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .footer-Dbw .bottom-bar-5rR .copyright-o1j .copyright-2023-perpusapp-all-rights-reserved-vMF {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #e8ecef;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .footer-Dbw .bottom-bar-5rR .copyright-o1j .privacy-policy-S4h {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6666666667;
  color: #fdfdfd;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .footer-Dbw .bottom-bar-5rR .copyright-o1j .terms-of-use-AWV {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6666666667;
  color: #fdfdfd;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .footer-Dbw .bottom-bar-5rR .social-icon-WKT {
  box-sizing: border-box;
  padding: 0.2rem 0.2rem 0.2rem 0rem;
  height: 100%;
  display: flex;
  column-gap: 3.2rem;
  align-items: center;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .footer-Dbw .bottom-bar-5rR .social-icon-WKT .social-outline-instagram-SD7 {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .footer-Dbw .bottom-bar-5rR .social-icon-WKT .social-outline-facebook-yTw {
  width: 1.2rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.halaman-atur-ulang-kata-sandi-7xu .footer-Dbw .bottom-bar-5rR .social-icon-WKT .social-outline-youtube-KXo {
  width: 2rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
